Broken Home Assistant Configuration in HAss Core 2024.8.0

**Describe the bug**

Devices unresponsive under any circumstance, HA asking to reconfigure the extension but nothing happens. 

**To Reproduce**

1. Update Home Assistant Core to version 2024.8.0. 
2. Check the settings under devices and settings.
3. Click on Alexa Media Player, check that the integration is working (it's not).
4. See the error, Home Assistant asks to reconfigure the integration.

**Expected behavior**

The integration to properly work as it did before updating HAss Core to 2024.8.0. 
To show all my echo devices as well as Alexa linked ones.

**Screenshots**

The UI Error is shown below:
<img width="1023" alt="Screenshot 2024-08-08 alle 15 35 14" src="https://github.com/user-attachments/assets/02a323b2-02e9-4a46-a5e6-9eeea3edee68">

**System details**

- Home-assistant (version): 2024.8.0
- alexa_media (version from `const.py` or HA startup): 4.12.6
- alexapy (version from `pip show alexapy` or HA startup):
- Amazon [2FA is enabled]: Yes

**Logs**

Don't know where to find them! Tried to take a look to the log files but nothing seems to be relevant...

**Additional context**



I have the same issue, tried reauthenticating with amazon.co.uk, but authentication keeps failing. After latest update.

Same here

Same here, I tried 3 times but no success!

same here

```
"requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 
```
This worked, change the manifest.json.

> ```
> "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 
> ```
> 
> This worked, change the manifest.json.

thank you, work fine !

works for me too great info thanks <3

Sorry, please can you tell me where to add this: "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 

oops,
notify not work

@Shaunpottie you need to SSH inside the machine that has HA installed and locate the data directory like /etc/homeassistant/custom_components/alexa_media/ and then modify that file using a Text Editor like nano

> Sorry, please can you tell me where to add this: "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"],

modify this :
/homeassistant/custom_components/alexa_media/manifest.json

Eish, let me see if I come right, thank you.

Manifest fix worked for me as well.
![Screenshot 2024-08-08 093312](https://github.com/user-attachments/assets/70abddc5-132c-45d3-8335-f27dcd08f3c5)


Thank you everyone for the help, I came right.

It works. Thanks s lot 

> @Shaunpottie you need to SSH inside the machine that has HA installed and locate the data directory like /etc/homeassistant/custom_components/alexa_media/ and then modify that file using a Text Editor like nano

Or use Studio Code Server

With amazon.de it is not working. 😞

> With amazon.de it is not working. 😞

I´m using amazon.de and its working for me whats your failure?

> > With amazon.de it is not working. 😞
> 
> I´m using amazon.de and its working for me whats your failure?

The 500 error

Edited in Studio Code Sever

"requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 

Worked!

Ta!

@herden-system I use amazon.de too and work fine, 500 = "Internal Server Error" means that there is some issue on the configuration of your instance, . Probably just reconfigure it and if you did change the mainifest.json as above all should work as usual. Note that it looks it is now required an external (https) url of your home assistant in the config.
Hope this can help :) 

> "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 

@sca075 Hugest of props—that worked perfectly! 🙌🏻

> ```
> "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 
> ```
> 
> This worked, change the manifest.json.

Yep - thanks a lot!

Can someone explain what public url it is that needed changed? I don't have any settings specific to me in the alexa manifest file so is this somewhere else?

Guys, that's the first time I've opened an Issue in Github, I didn't think I would get so much effort!

At this time, do you think I should close the Issue? I mean, is resolved no?

> Guys, that's the first time I've opened an Issue in Github, I didn't think I would get so much effort!
> At this time, do you think I should close the Issue? I mean, is resolved no?

@F5ancesco I’d hold off from closing this issue until this fix is baked in to an official update from Alexa Media Player. 

> Can someone explain what public url it is that needed changed? I don't have any settings specific to me in the alexa manifest file so is this somewhere else?

In the configuration of alexa media player:
![Screenshot 2024-08-08 at 18 13 08](https://github.com/user-attachments/assets/8002d45c-1bbd-4ac7-aa99-b2abe2d197a3)

The url of your Nabu Casa account or whatever you use to access Home Assistant from aboard. 
the manifest.json as above is in the __config/custom_components/alexa_media/ folder

> Guys, that's the first time I've opened an Issue in Github, I didn't think I would get so much effort!
> 
> At this time, do you think I should close the Issue? I mean, is resolved no?

we have a temp solution but it needs to be fixxed in future versions. I would not close the issue until the team has fixxed it in the final version :)

I have the issue but I'm not looking for a workaround. I'm going to wait for an actual fix/patch. For now I won't be installing HA 8.0.

With the component update it already works in HomeAssistant 2024.8 but not completely, it works if you give it an order to turn a light on or off, but TTS and actionable notifications do not work for example

There is a new version of the Alexa Media Player, v4.12.7 was released not long ago and has fixed the issue for me.

> There is a new version of the Alexa Media Player, v4.12.7 was released not long ago and has fixed the issue for me.



Yes, I was referring to that one, sorry for not specifying it... with that version tts or action notifications do not work in homeassistant 2024.8

 Yes, that worked thanks
    On Thursday, August 8, 2024 at 02:01:59 PM CDT, javilopezalarcon ***@***.***> wrote:  
 
 



There is a new version of the Alexa Media Player, v4.12.7 was released not long ago and has fixed the issue for me.


Yes, I was referring to that one, sorry for not specifying it... with that version tts or action notifications do not work in homeassistant 2024.8

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@***.***>
  

 Yes, that worked thanks

    On Thursday, August 8, 2024 at 01:45:43 PM CDT, jaypabla ***@***.***> wrote:  
 
 


There is a new version of the Alexa Media Player, v4.12.7 was released not long ago and has fixed the issue for me.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@***.***>
  



okay, I just deleted the integration since I see that it works well for several of you and when you add it again the tts actually works, we'll see if it doesn't fail later 😅



> okay, I just deleted the integration since I see that it works well for several of you and when you add it again the tts actually works, we'll see if it doesn't fail later 😅

I had to delete the integration and reinstall it which fixed the announcements to work again!

I am using:

AMP version 4.12.7
Home Assistant Core: 2024.8.0
Home Assistant Supervisor: 2024.08.0
Frontend: 20240806.1

> ```
> "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 
> ```
> 
> This worked, change the manifest.json.

Worked for me (amazon.it) 
Thanks!

Solved in https://github.com/alandtse/alexa_media_player/releases/tag/v4.12.7

Dopo l'aggiornamento 4.12.7 il problema è stato risolto parzialmente per me. Riesco ad auteticarmi ma le automazioni che integrano le notifiche tramite echo non funzionano e continuano a persistere problemi di riautenticazioni giornaliere. Attualmente l'integrazione alexa media player è fuori uso per me. Sarà possibile tornare ad utilizzare l'itegrazione come prima della versione 2024.8? Se ci sono altri suggerimenti da parte vostra non esiterò a provarli. Grazie.

@petrotti77 this is an "international" community (comprendo la frustrazione, Italiano lo capiscono solo gli Italiani, quindi se non ti dispiace traduco) understanding you are frustrated as I'm Italian please allow me to traslate. 

```text
Dopo l'aggiornamento 4.12.7 il problema è stato risolto parzialmente per me. Riesco ad auteticarmi ma le automazioni che integrano le notifiche tramite echo non funzionano e continuano a persistere problemi di riautenticazioni giornaliere. Attualmente l'integrazione alexa media player è fuori uso per me. Sarà possibile tornare ad utilizzare l'itegrazione come prima della versione 2024.8? Se ci sono altri suggerimenti da parte vostra non esiterò a provarli. Grazie.
```
Text Translated.
"After the update to version 4.12.7 the problem was partially solved for me. I can login but the my automatons that are integrating the notifications via echo's are not working and continue to give problems of re-authentications each day. In this moment "Alexa Media Player" is disabled in my system. I'm thinking to restore the backups before 2024.8.0 if, anyone has any Idea how to solve the problem?"

__sca075 advices__
1) please check if you setup the HTTPS connection as earlier posted see up.
2) I do use the same automations as before and all works well, no issues and I think several users can confirm it too. If you please provide logs of Home Assistant were the errors are popping up, as this looks to be another issue.. eventually open another issue after you have read all above on this thread and also others that have been keep open.
 
Most of the the time the solution is something there under our noses, and I think this issue with the dependencies was managed really well from community point of view and also the authors of this integrations that here I thanks for the fast and prompt respose.
 

@sca075 I apologize for writing in Italian. Regarding the https connection setting, you are referring to when the integration is added. Let me explain: after adding the hasc integration I will restart HA and then add the Alexa Media Player integration. During this configuration I find myself automatically set 2 fields in the link addresses: the first http://192.168.1.__:8123 and the second https://....dukdns.org. So I only have to use that https? I'm not very practical. I also made the changes to the manifest.json file that allowed me to solve the authentication problems but otherwise I couldn't get the integration and automations that use this integration to work. Thank you for your support.

@sca075 For the moment I have downgraded to version 2024.7.4 using the custom integration of Alexa Media Player 4.12.5 and everything works perfectly but I would like to be able to upgrade to later versions.

@sca075 For the moment I have downgraded to version 2024.7.4 using the custom integration of Alexa Media Player 4.12.5 and everything works perfectly but I would like to be able to upgrade to later versions.

@sca075 I noticed in the manifest.json file of AMP version 4.12.7 it says “requirements”: ["alexapy==1.28.2", "packaging>=20.3", "wrapt>=1.14.0”]. But do you need to change it to “alexapy>=1.28.2”?

@petrotti77 I mean duck dns should point to Nabu Casa if you have an account there just copy it in there.

@sca075 Forgive my ignorance but I just don't know how to make sure that duck dns points to Nabu Casa. I created an account a long time ago to use the free trial but then I never used it again. Could you explain it to me?

@petrotti77 
Q1. Do use the companion app of home assistant to access home from aboard?
Q2. There must be a url that starts with https in the app from home assistant. Don't share it.. but use it instead of with DUCKdns .

NabuCasa is one of the company of home assistant and I guess you used this to start. It offers Alexa compatibility and remote access to your instance, and the monthly/yearly fee help the project to grow.

If you changed later on it, fine, but you got to use a url that points to your home assistant with ssl (https). Unless of course you can't, then in this case really don't know if there's another possibility. 

Note it looks it's an Amazon requirement, this ssl authentication.

Also at 100% if you put the duck dns url in your browser... probably you will see the login page of your modem..
This is why I guess you need to re-setup the URL in the proper way.

@sca075 I really appreciate your explanations and thank you infinitely but I am quite limited in carrying out such procedures. If you can help me by explaining it to me, I'll step by step otherwise I have to let it go.

@sca075 I really appreciate your explanations and thank you infinitely but I am quite limited in carrying out such procedures. If you can help me by explaining it to me, I'll step by step otherwise I have to let it go.

@petrotti77 
In Italian:
"Per accedere home assistant quando non sei a casa utilizzi la app home assistant, correggimi se sbaglio. Devi usare quella url e se leggi sopra c'è un field "requisito" dove metterete la url che usi per connetterti a casa da fuori." 

In the app of home assistant settings/companion app 
Tap on your instance:
- Exsternal URL is the one you need in the required field for Alexa Media Player External URL.

@sca075 
<img width="516" alt="Alexa" src="https://github.com/user-attachments/assets/238d3de7-21bc-41aa-81c1-bfdfcdca2177">
![App](https://github.com/user-attachments/assets/34012103-d57a-42f9-876f-963c0b4ea307)

These are my settings in the Companion app and Alexa configuration. Do I do it the right way or am I doing something wrong?


Yes in this case it looks correctly configured.

@sca075 Good morning, I have updated HA 2024.8.1 and updated AMP 4.12.7 again. It works for a while and then requires me to re-authenticate. I set it up as in the photos I sent you but I can't figure out what it is that I'm wrong. I noticed that the manifest.json file of AMP version 4.12.7 states “requirements”: ["alexapy==1.28.2” but I need to correct it with “alexapy>=1.28.2”? 

@sca075 I just tried with "alexapy>=1.28.2" and re-authentication issues persist. I don't know what to do anymore. Do you have any other solutions?

@sca075 Do I need to configure something in my configurato.yaml?

> @sca075 Do I need to configure something in my configurato.yaml?

@petrotti77 

Okay.. 
I'm not really sure what is wrong on your config since the last update of this integration I didn't touch anything on it and it works fine.


The only difference between us is that you authenticate in Italy and I do authenticate from Germany.

I use NabuCasa and you not.. 
I didn't try with the other instance of Home Assistant using cloudflare, but I guess you need a valid domain that uses SLS (valid certificates) that isn't a Din DNS as DuckDNS.

I mean probably this is the limitation you have right now. And just to point out it I'm not sure as I'm not the author of this integration.

@sca075 I found this in the home-assistant.log file. Can it serve to understand what's going on?


2024-08-12 14:30:19.293 WARNING (MainThread) [alexapy.helpers] alexaapi.get_customer_history_records((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {'max_record_size': 10}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('',)
2024-08-12 14:30:19.293 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('',)
2024-08-12 14:30:34.237 WARNING (MainThread) [homeassistant.helpers.frame] Detected that custom integration 'spotcast' calls `async_add_job`, which is deprecated and will be removed in Home Assistant 2025.4; Please review https://developers.home-assistant.io/blog/2024/03/13/deprecate_add_run_job for replacement options at custom_components/spotcast/__init__.py, line 150: hass.async_add_job(get_devices()), please create a bug report at https://github.com/fondberg/spotcast/issues
2024-08-12 14:30:34.970 WARNING (MainThread) [homeassistant.helpers.frame] Detected that custom integration 'spotcast' calls `async_add_job`, which is deprecated and will be removed in Home Assistant 2025.4; Please review https://developers.home-assistant.io/blog/2024/03/13/deprecate_add_run_job for replacement options at custom_components/spotcast/__init__.py, line 168: hass.async_add_job(get_player()), please create a bug report at https://github.com/fondberg/spotcast/issues
2024-08-12 14:30:35.233 WARNING (MainThread) [homeassistant.helpers.frame] Detected that custom integration 'spotcast' calls `async_add_job`, which is deprecated and will be removed in Home Assistant 2025.4; Please review https://developers.home-assistant.io/blog/2024/03/13/deprecate_add_run_job for replacement options at custom_components/spotcast/__init__.py, line 130: hass.async_add_job(get_playlist()), please create a bug report at https://github.com/fondberg/spotcast/issues
2024-08-12 14:30:56.300 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcdb41c0410>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)
2024-08-12 14:31:02.004 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcdb41c0410>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)
2024-08-12 14:31:14.103 WARNING (MainThread) [homeassistant.helpers.frame] Detected that custom integration 'alexa_media' accesses hass.components.persistent_notification. This is deprecated and will stop working in Home Assistant 2024.9, it should be updated to import functions used from persistent_notification directly at custom_components/alexa_media/config_flow.py, line 645: self.hass.components.persistent_notification.async_dismiss(, please create a bug report at https://github.com/alandtse/alexa_media_player/issues
2024-08-12 14:41:24.346 WARNING (MainThread) [alexapy.helpers] alexaapi.get_customer_history_records((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {'max_record_size': 10}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 14:41:24.347 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 14:41:42.914 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcdb41c0410>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)
2024-08-12 14:41:59.070 ERROR (MainThread) [homeassistant.helpers.template] Template variable error: 'value_json' is undefined when rendering '{{ value_json.state }}'
2024-08-12 14:41:59.074 ERROR (MainThread) [homeassistant.helpers.template] Error parsing value: 'value_json' is undefined (value: , template: {{ value_json.state }})
2024-08-12 14:41:59.218 ERROR (MainThread) [homeassistant.helpers.template] Template variable error: 'value_json' is undefined when rendering '{{ value_json.state }}'
2024-08-12 14:41:59.220 ERROR (MainThread) [homeassistant.helpers.template] Error parsing value: 'value_json' is undefined (value: , template: {{ value_json.state }})
2024-08-12 14:42:17.404 WARNING (MainThread) [homeassistant.helpers.service] Referenced entities light.lampadario_camera_sveva are missing or not currently available
2024-08-12 14:44:58.814 WARNING (MainThread) [homeassistant.util.json] json_loads was called from hacs, this is a deprecated function which will be removed in HA Core 2025.8. Use homeassistant.util.json.json_loads instead, please create a bug report at https://github.com/hacs/integration/issues
2024-08-12 14:44:59.172 WARNING (MainThread) [homeassistant.util.json] json_loads was called from hacs, this is a deprecated function which will be removed in HA Core 2025.8. Use homeassistant.util.json.json_loads instead, please create a bug report at https://github.com/hacs/integration/issues
2024-08-12 14:47:53.824 WARNING (MainThread) [haphilipsjs] RemoteProtocolError('Server disconnected without sending a response.'). We retry once, could be a reused session that was closed
2024-08-12 14:52:11.348 WARNING (MainThread) [alexapy.helpers] alexaapi.get_customer_history_records((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {'max_record_size': 10}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 14:52:11.348 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 14:52:14.074 WARNING (MainThread) [homeassistant.helpers.service] Referenced entities light.shapes_14f7 are missing or not currently available
2024-08-12 14:52:17.832 WARNING (MainThread) [homeassistant.helpers.service] Referenced entities light.shapes_14f7 are missing or not currently available
2024-08-12 14:52:22.697 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcdb41c0410>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)

.....

2024-08-12 15:02:51.370 WARNING (MainThread) [alexapy.helpers] alexaapi.get_customer_history_records((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {'max_record_size': 10}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 15:02:51.370 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 15:06:13.549 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcdb41c0410>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)
2024-08-12 15:16:42.194 WARNING (MainThread) [alexapy.helpers] alexaapi.get_customer_history_records((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {'max_record_size': 10}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 15:16:42.194 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 15:16:51.062 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcdb41c0410>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)

.....

2024-08-12 15:38:35.230 WARNING (MainThread) [alexapy.helpers] alexaapi.get_customer_history_records((<alexapy.alexalogin.AlexaLogin object at 0x7fcd25184fb0>,), {'max_record_size': 10}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 15:38:35.230 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcd25184fb0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Unauthorized',)
2024-08-12 15:38:46.439 WARNING (MainThread) [alexapy.helpers] alexaapi.get_state((<alexapy.alexaapi.AlexaAPI object at 0x7fcd289252e0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('Login error detected; not contacting API',)



@sca075 Sounds like an API problem. However I have now noticed that after upgrading to HA 2024.8.1. and AMP integration at 4.12.7 and restarting the server 2 times the re-authentication problem appears but disappears by itself.

> @sca075Sembra un problema API. Tuttavia ho notato che dopo l'aggiornamento a HA 2024.8.1. e l'integrazione AMP a 4.12.7 e il riavvio del server 2 volte, il problema di riautenticazione appare ma scompare da solo.

@sca075 I was wrong, that's not the case.

@sca075 Even now 2 at a time.

<img width="766" alt="Screenshot 2024-08-12 alle 17 03 18" src="https://github.com/user-attachments/assets/bcee32f1-b4b6-479e-aadf-4120847ba9f8">



```log
2024-08-12 14:30:19.293 WARNING (MainThread) [alexapy.helpers] alexaapi.get_last_device_serial((<alexapy.alexalogin.AlexaLogin object at 0x7fcdb79497f0>,), {}): An error occurred accessing AlexaAPI: An exception of type AlexapyLoginError occurred. Arguments:
('',)
```
Are you sure that __('',)__ don't tell you anything? then why two instances of the media_player?
@petrotti77 open a  browser and then put your https://YOURDOMAIN.duckdns.org/lovelace/default_view" and check if you land on the login page of your home assistant.
![Screenshot 2024-08-12 at 18 38 13](https://github.com/user-attachments/assets/2500e9dd-f849-46a4-814f-2143554d8964)

Check also your credentials are properly setup in alexa_media_player 
I noticed in the logs you provided:
```logs
2024-08-12 14:47:53.824 WARNING (MainThread) [haphilipsjs] RemoteProtocolError('Server disconnected without sending a response.'). We retry once, could be a reused session that was closed
```

__RemoteProtocolError('Server disconnected without sending a response.'__  from __haphilipsjs
__

Something looks to be wrong on your setup, one instance of the media_player should be enough. 

@sca075 I just got back to HA 2024.7.4 with AMP 4.12.5 and everything works wonderfully with no re-authentication issues and with notifications on my here regularly working. When I try to update to HA 2024.8.1 I do the same configuration procedure that I use on HA 2024.7.4 but with the results you already know.

@sca075 I just got back to HA 2024.7.4 with AMP 4.12.5 and everything works wonderfully without re-authentication issues and with notifications on my echo dots regularly working. When I try to update to HA 2024.8.1 I do the same configuration procedure that I use on HA 2024.7.4 but with the results you already know.

Yes but did you try to login from your remote url just to see if it works?

You don't need to update HA for this test 

@sca075 I tried to exceed my https://yourdomain.duckdns.org/lovelace/default_view and it works regularly.

@sca075 An info and your opinion. I removed everything from AMP from both integrations and HACS and noticed that the Alexa related files you see in the photo remain even after rebooting. Do I try to delete them, update to HA 2024.8.1 and reconfigure AMP?
<img width="591" alt="Screenshot 2024-08-12 alle 21 06 05" src="https://github.com/user-attachments/assets/3443dff1-43df-4e29-bd9c-25178c6e8f73">


@petrotti77 you can try to delete that file, and re-autanticate from scratch.
0) make a full backup of your system with a different name
1) remove via HACS Alexa Media Player
2) remove the file from the .storage alexa_auth and alexa_media_user.pickle
3) update HA
4) Check that Alexa is selected as Voice Assistant in HA.
4) Setup Alexa Media Player from scratch.
If this works good, if not.. 
5) enable the Debug Log of the Alexa Media
6) reboot HA and collect the logs.
7) open an issue here and on home assistant. 

Good luck, crossing the fingers for you.  


@sca075 I did a first test on HA 2024.7.4 by deleting the 3 files attributable to Alexa, removed all the integrations, restarted and finally reinstalled the Alexa integrations. I noticed that the “alexa_auth” file, where there is a token inside, has not been recreated. Is it a problem?

@petrotti77 no.. do not have this file with 2024.8.1 so.. I don't think this is the problem.. anyhow if you want to keep it you just copy it in a safe location and the restore it once HA reboot.
Probably amazon.it is in the end the issue.

@sca075 Your "alexa" file that is located at /homeassistant/.storage is compiled like this:

{
  "version": 1,
  "minor_version": 1,
  "key": "alexa",
  "data": {
    "authorized": false
  }
}

or true?

> true



@sca075 In HA 2024.7.4 it was true now in HA 2024.8.1 it is false but even if I change it to true when I restart it returns to false.

> @sca075 In HA 2024.7.4 it was true now in HA 2024.8.1 it is false but even if I change it to true when I restart it returns to false.

Could this be the problem? But how do I change it to true?

> @sca075 In HA 2024.7.4 it was true now in HA 2024.8.1 it is false but even if I change it to true when I restart it returns to false.

Then here is the problem.. I think they changed something in HA, some PR was for Alexa, check if in settings of HA you can enable Alexa

@sca075 

> @petrotti77 you can try to delete that file, and re-autanticate from scratch. 0) make a full backup of your system with a different name
> 
> 1. remove via HACS Alexa Media Player
> 2. remove the file from the .storage alexa_auth and alexa_media_user.pickle
> 3. update HA
> 4. Check that Alexa is selected as Voice Assistant in HA.
> 5. Setup Alexa Media Player from scratch.
>    If this works good, if not..
> 6. enable the Debug Log of the Alexa Media
> 7. reboot HA and collect the logs.
> 8. open an issue here and on home assistant.
> 
> Good luck, crossing the fingers for you.

Are you referring to the point 4 you wrote to me before?
<img width="1021" alt="Screenshot 2024-08-12 alle 23 37 37" src="https://github.com/user-attachments/assets/ef5dffb8-4ed3-4e10-af8f-6072e5c0ca1b">


@petrotti77 I'm going now to sleep tomorrow I need to work and get up early, hopefully you can manage, if not ask to HA guys, yes I think the true is coming from there

@sca075 If you're referring to this I can't enable Alexa. There is no possibility to choose Alexa from this menu.
<img width="620" alt="Screenshot 2024-08-12 alle 23 40 28" src="https://github.com/user-attachments/assets/907b04e2-e0fc-44a9-b637-77c83b74166a">


You need to have Nabu Casa!
Or use Assist

> You need to have Nabu Casa! Or use Assist

No, you don't.  I do not use Nabu Casa as my external URL is either url_1 via cloudflare tunnel or url_2 via DDNS to my firewall where I can enable/disable the inbound NAT.

The `true` flag in that file is set by Nabu Casa indicating that it's successfully logged into and connected to Nabu Casa.

![image](https://github.com/user-attachments/assets/6837e893-7f83-4bef-901c-1b18d0c77469)

Instead of NC, I chose the manual setup method to integrate the Alexa Home Assistant Skill and my alexa file is:
```
{
  "version": 1,
  "minor_version": 1,
  "key": "alexa",
  "data": {
    "authorized": false
  }
```
That `alexa` file has no bearing on or is used/referenced by AMP.  I believe all of this `public_url` stuff is a red herring.  As far as I've been able to determine (and I've had my head inside the code a lot deciphering and troubleshooting), the `public_url` is only used external notification services to know where to contact Home Assistant at when they've been invoked though HA's notification service. 

@danielbrunt57 @sca075 

After some testing to solve problems related to AMP integration I found that the “alexa” and “alexa_auth” files contained in homeassistant/.storage/ (which perhaps not everyone has in their configuration) are related to the configuration of Amazon aws to expose HA devices on Alexa. In fact, by removing the “alexa_auth” file (which contains a token) the “alexa” file cannot be changed to true. So I came to the conclusion that they actually have nothing to do with the AMP integration that still doesn't work for me if I upgrade to HA 2024.8.1.

> @danielbrunt57 @sca075
> 
> After some testing to solve problems related to AMP integration I found that the “alexa” and “alexa_auth” files contained in homeassistant/.storage/ (which perhaps not everyone has in their configuration) are related to the configuration of Amazon aws to expose HA devices on Alexa. In fact, by removing the “alexa_auth” file (which contains a token) the “alexa” file cannot be changed to true.

That's not completely accurate as those two files are only created when Nabu Casa Cloud is configured to expose HA entities in Alexa. They do not exist with the AWS/Alexa manual skill method of exposing HA entities in Alexa.  The only place authentication is configured when manually created is here:
```
smart_home:
  locale: en-CA
  endpoint: https://api.amazonalexa.com/v3/events
  client_id: amzn1.application-oa2-client.9cef<redacted>f4cd
  client_secret: amzn1.oa2-cs.v1.56b0<redacted>ee0548
  filter:
    include_domains:
      - light
      - cover
      - lock

    include_entities:
``` 
> So I came to the conclusion that they actually have nothing to do with the AMP integration

that's correct

>  still doesn't work for me if I upgrade to HA 2024.8.1.

I'm wondering if my method of eliminating the partitioned cookie error might somehow be contributing to my 100% success rate since when not using it, AMP fails to load at restart due to partitioned cookie error but a reload loads it.  I'm thinking that the pickled cookie file is in some way different because of that initial cookie error.  Could you perhaps try replacing the `/usr/local/lib/python3.12/http/cookies.py` with the 3.13 version, remove the integration config entry, delete your pickle file and try adding the integration again?

@danielbrunt57 

How do you perform the procedure you describe? Could you explain it to me?

|  Could you perhaps try replacing the /usr/local/lib/python3.12/http/cookies.py with the 3.13 version.

> @danielbrunt57
> 
> How do you perform the procedure you describe? Could you explain it to me?

I usually use Portainer to sh to my homeassistant container but you can also get to it from your terminal ssh via `docker exec -it homeassistant bash`.  

- `cd /usr/local/lib/python3.12/http`
- `ls -al` and verify you see `cookies.py`
- `mv cookies.py cookies_3.12.py` to save existing. 
- `vi cookies.py`
- Press `i` to enter insert mode
- Paste contents of new cookies.py
- Press `ESC` to exit insert mode
- Type `:wq` to exit and write file

`cookies.py` v3.13:
```
####
# Copyright 2000 by Timothy O'Malley <timo@alum.mit.edu>
#
#                All Rights Reserved
#
# Permission to use, copy, modify, and distribute this software
# and its documentation for any purpose and without fee is hereby
# granted, provided that the above copyright notice appear in all
# copies and that both that copyright notice and this permission
# notice appear in supporting documentation, and that the name of
# Timothy O'Malley  not be used in advertising or publicity
# pertaining to distribution of the software without specific, written
# prior permission.
#
# Timothy O'Malley DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS
# SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
# AND FITNESS, IN NO EVENT SHALL Timothy O'Malley BE LIABLE FOR
# ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS,
# WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
# PERFORMANCE OF THIS SOFTWARE.
#
####
#
# Id: Cookie.py,v 2.29 2000/08/23 05:28:49 timo Exp
#   by Timothy O'Malley <timo@alum.mit.edu>
#
#  Cookie.py is a Python module for the handling of HTTP
#  cookies as a Python dictionary.  See RFC 2109 for more
#  information on cookies.
#
#  The original idea to treat Cookies as a dictionary came from
#  Dave Mitchell (davem@magnet.com) in 1995, when he released the
#  first version of nscookie.py.
#
####

r"""
Here's a sample session to show how to use this module.
At the moment, this is the only documentation.

The Basics
----------

Importing is easy...

   >>> from http import cookies

Most of the time you start by creating a cookie.

   >>> C = cookies.SimpleCookie()

Once you've created your Cookie, you can add values just as if it were
a dictionary.

   >>> C = cookies.SimpleCookie()
   >>> C["fig"] = "newton"
   >>> C["sugar"] = "wafer"
   >>> C.output()
   'Set-Cookie: fig=newton\r\nSet-Cookie: sugar=wafer'

Notice that the printable representation of a Cookie is the
appropriate format for a Set-Cookie: header.  This is the
default behavior.  You can change the header and printed
attributes by using the .output() function

   >>> C = cookies.SimpleCookie()
   >>> C["rocky"] = "road"
   >>> C["rocky"]["path"] = "/cookie"
   >>> print(C.output(header="Cookie:"))
   Cookie: rocky=road; Path=/cookie
   >>> print(C.output(attrs=[], header="Cookie:"))
   Cookie: rocky=road

The load() method of a Cookie extracts cookies from a string.  In a
CGI script, you would use this method to extract the cookies from the
HTTP_COOKIE environment variable.

   >>> C = cookies.SimpleCookie()
   >>> C.load("chips=ahoy; vienna=finger")
   >>> C.output()
   'Set-Cookie: chips=ahoy\r\nSet-Cookie: vienna=finger'

The load() method is darn-tootin smart about identifying cookies
within a string.  Escaped quotation marks, nested semicolons, and other
such trickeries do not confuse it.

   >>> C = cookies.SimpleCookie()
   >>> C.load('keebler="E=everybody; L=\\"Loves\\"; fudge=\\012;";')
   >>> print(C)
   Set-Cookie: keebler="E=everybody; L=\"Loves\"; fudge=\012;"

Each element of the Cookie also supports all of the RFC 2109
Cookie attributes.  Here's an example which sets the Path
attribute.

   >>> C = cookies.SimpleCookie()
   >>> C["oreo"] = "doublestuff"
   >>> C["oreo"]["path"] = "/"
   >>> print(C)
   Set-Cookie: oreo=doublestuff; Path=/

Each dictionary element has a 'value' attribute, which gives you
back the value associated with the key.

   >>> C = cookies.SimpleCookie()
   >>> C["twix"] = "none for you"
   >>> C["twix"].value
   'none for you'

The SimpleCookie expects that all values should be standard strings.
Just to be sure, SimpleCookie invokes the str() builtin to convert
the value to a string, when the values are set dictionary-style.

   >>> C = cookies.SimpleCookie()
   >>> C["number"] = 7
   >>> C["string"] = "seven"
   >>> C["number"].value
   '7'
   >>> C["string"].value
   'seven'
   >>> C.output()
   'Set-Cookie: number=7\r\nSet-Cookie: string=seven'

Finis.
"""

#
# Import our required modules
#
import re
import string
import types

__all__ = ["CookieError", "BaseCookie", "SimpleCookie"]

_nulljoin = ''.join
_semispacejoin = '; '.join
_spacejoin = ' '.join

#
# Define an exception visible to External modules
#
class CookieError(Exception):
    pass


# These quoting routines conform to the RFC2109 specification, which in
# turn references the character definitions from RFC2068.  They provide
# a two-way quoting algorithm.  Any non-text character is translated
# into a 4 character sequence: a forward-slash followed by the
# three-digit octal equivalent of the character.  Any '\' or '"' is
# quoted with a preceding '\' slash.
# Because of the way browsers really handle cookies (as opposed to what
# the RFC says) we also encode "," and ";".
#
# These are taken from RFC2068 and RFC2109.
#       _LegalChars       is the list of chars which don't require "'s
#       _Translator       hash-table for fast quoting
#
_LegalChars = string.ascii_letters + string.digits + "!#$%&'*+-.^_`|~:"
_UnescapedChars = _LegalChars + ' ()/<=>?@[]{}'

_Translator = {n: '\\%03o' % n
               for n in set(range(256)) - set(map(ord, _UnescapedChars))}
_Translator.update({
    ord('"'): '\\"',
    ord('\\'): '\\\\',
})

_is_legal_key = re.compile('[%s]+' % re.escape(_LegalChars)).fullmatch

def _quote(str):
    r"""Quote a string for use in a cookie header.

    If the string does not need to be double-quoted, then just return the
    string.  Otherwise, surround the string in doublequotes and quote
    (with a \) special characters.
    """
    if str is None or _is_legal_key(str):
        return str
    else:
        return '"' + str.translate(_Translator) + '"'


_OctalPatt = re.compile(r"\\[0-3][0-7][0-7]")
_QuotePatt = re.compile(r"[\\].")

def _unquote(str):
    # If there aren't any doublequotes,
    # then there can't be any special characters.  See RFC 2109.
    if str is None or len(str) < 2:
        return str
    if str[0] != '"' or str[-1] != '"':
        return str

    # We have to assume that we must decode this string.
    # Down to work.

    # Remove the "s
    str = str[1:-1]

    # Check for special sequences.  Examples:
    #    \012 --> \n
    #    \"   --> "
    #
    i = 0
    n = len(str)
    res = []
    while 0 <= i < n:
        o_match = _OctalPatt.search(str, i)
        q_match = _QuotePatt.search(str, i)
        if not o_match and not q_match:              # Neither matched
            res.append(str[i:])
            break
        # else:
        j = k = -1
        if o_match:
            j = o_match.start(0)
        if q_match:
            k = q_match.start(0)
        if q_match and (not o_match or k < j):     # QuotePatt matched
            res.append(str[i:k])
            res.append(str[k+1])
            i = k + 2
        else:                                      # OctalPatt matched
            res.append(str[i:j])
            res.append(chr(int(str[j+1:j+4], 8)))
            i = j + 4
    return _nulljoin(res)

# The _getdate() routine is used to set the expiration time in the cookie's HTTP
# header.  By default, _getdate() returns the current time in the appropriate
# "expires" format for a Set-Cookie header.  The one optional argument is an
# offset from now, in seconds.  For example, an offset of -3600 means "one hour
# ago".  The offset may be a floating point number.
#

_weekdayname = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

_monthname = [None,
              'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

def _getdate(future=0, weekdayname=_weekdayname, monthname=_monthname):
    from time import gmtime, time
    now = time()
    year, month, day, hh, mm, ss, wd, y, z = gmtime(now + future)
    return "%s, %02d %3s %4d %02d:%02d:%02d GMT" % \
           (weekdayname[wd], day, monthname[month], year, hh, mm, ss)


class Morsel(dict):
    """A class to hold ONE (key, value) pair.

    In a cookie, each such pair may have several attributes, so this class is
    used to keep the attributes associated with the appropriate key,value pair.
    This class also includes a coded_value attribute, which is used to hold
    the network representation of the value.
    """
    # RFC 2109 lists these attributes as reserved:
    #   path       comment         domain
    #   max-age    secure      version
    #
    # For historical reasons, these attributes are also reserved:
    #   expires
    #
    # This is an extension from Microsoft:
    #   httponly
    #
    # This dictionary provides a mapping from the lowercase
    # variant on the left to the appropriate traditional
    # formatting on the right.
    _reserved = {
        "expires": "expires",
        "path": "Path",
        "comment": "Comment",
        "domain": "Domain",
        "max-age": "Max-Age",
        "secure": "Secure",
        "httponly": "HttpOnly",
        "version": "Version",
        "samesite": "SameSite",
        "partitioned": "Partitioned",
    }

    _flags = {'secure', 'httponly', 'partitioned'}

    def __init__(self):
        # Set defaults
        self._key = self._value = self._coded_value = None

        # Set default attributes
        for key in self._reserved:
            dict.__setitem__(self, key, "")

    @property
    def key(self):
        return self._key

    @property
    def value(self):
        return self._value

    @property
    def coded_value(self):
        return self._coded_value

    def __setitem__(self, K, V):
        K = K.lower()
        if not K in self._reserved:
            raise CookieError("Invalid attribute %r" % (K,))
        dict.__setitem__(self, K, V)

    def setdefault(self, key, val=None):
        key = key.lower()
        if key not in self._reserved:
            raise CookieError("Invalid attribute %r" % (key,))
        return dict.setdefault(self, key, val)

    def __eq__(self, morsel):
        if not isinstance(morsel, Morsel):
            return NotImplemented
        return (dict.__eq__(self, morsel) and
                self._value == morsel._value and
                self._key == morsel._key and
                self._coded_value == morsel._coded_value)

    __ne__ = object.__ne__

    def copy(self):
        morsel = Morsel()
        dict.update(morsel, self)
        morsel.__dict__.update(self.__dict__)
        return morsel

    def update(self, values):
        data = {}
        for key, val in dict(values).items():
            key = key.lower()
            if key not in self._reserved:
                raise CookieError("Invalid attribute %r" % (key,))
            data[key] = val
        dict.update(self, data)

    def isReservedKey(self, K):
        return K.lower() in self._reserved

    def set(self, key, val, coded_val):
        if key.lower() in self._reserved:
            raise CookieError('Attempt to set a reserved key %r' % (key,))
        if not _is_legal_key(key):
            raise CookieError('Illegal key %r' % (key,))

        # It's a good key, so save it.
        self._key = key
        self._value = val
        self._coded_value = coded_val

    def __getstate__(self):
        return {
            'key': self._key,
            'value': self._value,
            'coded_value': self._coded_value,
        }

    def __setstate__(self, state):
        self._key = state['key']
        self._value = state['value']
        self._coded_value = state['coded_value']

    def output(self, attrs=None, header="Set-Cookie:"):
        return "%s %s" % (header, self.OutputString(attrs))

    __str__ = output

    def __repr__(self):
        return '<%s: %s>' % (self.__class__.__name__, self.OutputString())

    def js_output(self, attrs=None):
        # Print javascript
        return """
        <script type="text/javascript">
        <!-- begin hiding
        document.cookie = \"%s\";
        // end hiding -->
        </script>
        """ % (self.OutputString(attrs).replace('"', r'\"'))

    def OutputString(self, attrs=None):
        # Build up our result
        #
        result = []
        append = result.append

        # First, the key=value pair
        append("%s=%s" % (self.key, self.coded_value))

        # Now add any defined attributes
        if attrs is None:
            attrs = self._reserved
        items = sorted(self.items())
        for key, value in items:
            if value == "":
                continue
            if key not in attrs:
                continue
            if key == "expires" and isinstance(value, int):
                append("%s=%s" % (self._reserved[key], _getdate(value)))
            elif key == "max-age" and isinstance(value, int):
                append("%s=%d" % (self._reserved[key], value))
            elif key == "comment" and isinstance(value, str):
                append("%s=%s" % (self._reserved[key], _quote(value)))
            elif key in self._flags:
                if value:
                    append(str(self._reserved[key]))
            else:
                append("%s=%s" % (self._reserved[key], value))

        # Return the result
        return _semispacejoin(result)

    __class_getitem__ = classmethod(types.GenericAlias)


#
# Pattern for finding cookie
#
# This used to be strict parsing based on the RFC2109 and RFC2068
# specifications.  I have since discovered that MSIE 3.0x doesn't
# follow the character rules outlined in those specs.  As a
# result, the parsing rules here are less strict.
#

_LegalKeyChars  = r"\w\d!#%&'~_`><@,:/\$\*\+\-\.\^\|\)\(\?\}\{\="
_LegalValueChars = _LegalKeyChars + r'\[\]'
_CookiePattern = re.compile(r"""
    \s*                            # Optional whitespace at start of cookie
    (?P<key>                       # Start of group 'key'
    [""" + _LegalKeyChars + r"""]+?   # Any word of at least one letter
    )                              # End of group 'key'
    (                              # Optional group: there may not be a value.
    \s*=\s*                          # Equal Sign
    (?P<val>                         # Start of group 'val'
    "(?:[^\\"]|\\.)*"                  # Any doublequoted string
    |                                  # or
    \w{3},\s[\w\d\s-]{9,11}\s[\d:]{8}\sGMT  # Special case for "expires" attr
    |                                  # or
    [""" + _LegalValueChars + r"""]*      # Any word or empty string
    )                                # End of group 'val'
    )?                             # End of optional value group
    \s*                            # Any number of spaces.
    (\s+|;|$)                      # Ending either at space, semicolon, or EOS.
    """, re.ASCII | re.VERBOSE)    # re.ASCII may be removed if safe.


# At long last, here is the cookie class.  Using this class is almost just like
# using a dictionary.  See this module's docstring for example usage.
#
class BaseCookie(dict):
    """A container class for a set of Morsels."""

    def value_decode(self, val):
        """real_value, coded_value = value_decode(STRING)
        Called prior to setting a cookie's value from the network
        representation.  The VALUE is the value read from HTTP
        header.
        Override this function to modify the behavior of cookies.
        """
        return val, val

    def value_encode(self, val):
        """real_value, coded_value = value_encode(VALUE)
        Called prior to setting a cookie's value from the dictionary
        representation.  The VALUE is the value being assigned.
        Override this function to modify the behavior of cookies.
        """
        strval = str(val)
        return strval, strval

    def __init__(self, input=None):
        if input:
            self.load(input)

    def __set(self, key, real_value, coded_value):
        """Private method for setting a cookie's value"""
        M = self.get(key, Morsel())
        M.set(key, real_value, coded_value)
        dict.__setitem__(self, key, M)

    def __setitem__(self, key, value):
        """Dictionary style assignment."""
        if isinstance(value, Morsel):
            # allow assignment of constructed Morsels (e.g. for pickling)
            dict.__setitem__(self, key, value)
        else:
            rval, cval = self.value_encode(value)
            self.__set(key, rval, cval)

    def output(self, attrs=None, header="Set-Cookie:", sep="\015\012"):
        """Return a string suitable for HTTP."""
        result = []
        items = sorted(self.items())
        for key, value in items:
            result.append(value.output(attrs, header))
        return sep.join(result)

    __str__ = output

    def __repr__(self):
        l = []
        items = sorted(self.items())
        for key, value in items:
            l.append('%s=%s' % (key, repr(value.value)))
        return '<%s: %s>' % (self.__class__.__name__, _spacejoin(l))

    def js_output(self, attrs=None):
        """Return a string suitable for JavaScript."""
        result = []
        items = sorted(self.items())
        for key, value in items:
            result.append(value.js_output(attrs))
        return _nulljoin(result)

    def load(self, rawdata):
        """Load cookies from a string (presumably HTTP_COOKIE) or
        from a dictionary.  Loading cookies from a dictionary 'd'
        is equivalent to calling:
            map(Cookie.__setitem__, d.keys(), d.values())
        """
        if isinstance(rawdata, str):
            self.__parse_string(rawdata)
        else:
            # self.update() wouldn't call our custom __setitem__
            for key, value in rawdata.items():
                self[key] = value
        return

    def __parse_string(self, str, patt=_CookiePattern):
        i = 0                 # Our starting point
        n = len(str)          # Length of string
        parsed_items = []     # Parsed (type, key, value) triples
        morsel_seen = False   # A key=value pair was previously encountered

        TYPE_ATTRIBUTE = 1
        TYPE_KEYVALUE = 2

        # We first parse the whole cookie string and reject it if it's
        # syntactically invalid (this helps avoid some classes of injection
        # attacks).
        while 0 <= i < n:
            # Start looking for a cookie
            match = patt.match(str, i)
            if not match:
                # No more cookies
                break

            key, value = match.group("key"), match.group("val")
            i = match.end(0)

            if key[0] == "$":
                if not morsel_seen:
                    # We ignore attributes which pertain to the cookie
                    # mechanism as a whole, such as "$Version".
                    # See RFC 2965. (Does anyone care?)
                    continue
                parsed_items.append((TYPE_ATTRIBUTE, key[1:], value))
            elif key.lower() in Morsel._reserved:
                if not morsel_seen:
                    # Invalid cookie string
                    return
                if value is None:
                    if key.lower() in Morsel._flags:
                        parsed_items.append((TYPE_ATTRIBUTE, key, True))
                    else:
                        # Invalid cookie string
                        return
                else:
                    parsed_items.append((TYPE_ATTRIBUTE, key, _unquote(value)))
            elif value is not None:
                parsed_items.append((TYPE_KEYVALUE, key, self.value_decode(value)))
                morsel_seen = True
            else:
                # Invalid cookie string
                return

        # The cookie string is valid, apply it.
        M = None         # current morsel
        for tp, key, value in parsed_items:
            if tp == TYPE_ATTRIBUTE:
                assert M is not None
                M[key] = value
            else:
                assert tp == TYPE_KEYVALUE
                rval, cval = value
                self.__set(key, rval, cval)
                M = self[key]


class SimpleCookie(BaseCookie):
    """
    SimpleCookie supports strings as cookie values.  When setting
    the value using the dictionary assignment notation, SimpleCookie
    calls the builtin str() to convert the value to a string.  Values
    received from HTTP are kept as strings.
    """
    def value_decode(self, val):
        return _unquote(val), val

    def value_encode(self, val):
        strval = str(val)
        return strval, _quote(strval)
```

@danielbrunt57 

Thanks for the really detailed explanation. 
The alexa media player then is not using to check if Nabu exposed the entities.. this is the important thing here.

The auth process works fine so for the most the @petrotti77 issue looks to be a specific scenario.

Do you need some specific data to analyze it? 

> Thanks for the really detailed explanation. The alexa media player then is not using to check if Nabu exposed the entities.. this is the important thing here.
> 
> The auth process works fine so for the most the @petrotti77 issue looks to be a specific scenario.

@sca075 Correct. AMP is only scanning amazon for alexa media capable devices (like Echo) in Alexa.
The Alexa Smart Home skill is unrelated to AMP and enables seeing HA entities in the cloud.  Home Assistant Cloud (Nabu Casa) makes that skill automatically available versus having to do  all of the steps of creating a skill manually.

> Do you need some specific data to analyze it?

I'm confused as to what your issue is now...

I've sett my system options like this:

![image](https://github.com/user-attachments/assets/2ea65541-96c5-430d-8db6-887969215749)



Good morning guys. I have reread the posts you have published these days. I sleep back once again to HA 2024.7.4 after a lot of frustrations to repair automations and zigbee devices that don't work after the downgrade and upgrade procedure. 

@danielbrunt57 I still haven't figured out if the pickled cookie file procedure you describe you used it in your configuration or it's just a suggestion to try it out, because I'm really terrified to update even though I'm aware that I can't stay forever at HA 2024.7.4. 

@danielbrunt57 You were telling me that you need specific data to analyze it. What would you need to understand what happened in my setup?

@petrotti77 
> You were telling me that you need specific data to analyze it. What would you need to understand what happened in my setup?

I'm just totally confused as to what your current issue is with 2024.8.1...

> I still haven't figured out if the pickled cookie file procedure you describe you used it in your configuration or it's just a suggestion to try it out, because I'm really terrified to update even though I'm aware that I can't stay forever at HA 2024.7.4.

It's not a pickled cookie file procedure.  It addresses the partitioned cookie error which requires always reloading AMP after a restart to get it going by replacing the cookies.py file with a newer version from a pending PR for Python 3.13 beta and is safe if you replace the file with the complete and correct 3.13 cookies.py file.  I once did not but was able to successfully recover from my error!  I have documented how to use amitfin's Patch custom component to automate the procedure, which others have successfully implemented.  If you are interested, I can repost it here...

I too don't want to update again from 2024.7.4 and am watching this thread
in the hope of some good news - sadly, it all seems negative at the moment.

I can't imagine how so many people must be frustrated and don't know what
it happening.

Let's hope it is all resolved.

On Thu, 15 Aug 2024 at 09:32, petrotti77 ***@***.***> wrote:

> Good morning guys. I have reread the posts you have published these days.
> I sleep back once again to HA 2024.7.4 after a lot of frustrations to
> repair automations and zigbee devices that don't work after the downgrade
> and upgrade procedure.
>
> @danielbrunt57 <https://github.com/danielbrunt57> I still haven't figured
> out if the pickled cookie file procedure you describe you used it in your
> configuration or it's just a suggestion to try it out, because I'm really
> terrified to update even though I'm aware that I can't stay forever at HA
> 2024.7.4.
>
> @danielbrunt57 <https://github.com/danielbrunt57> You were telling me
> that you need specific data to analyze it. What would you need to
> understand what happened in my setup?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/alandtse/alexa_media_player/issues/2433#issuecomment-2290888470>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ABFWRDXMEQPM43L3YZAWF5DZRRRQ5AVCNFSM6AAAAABMGRLXDCVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDEOJQHA4DQNBXGA>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


@LindsayReid  I understand your frustration but am doing my best to figure this whole mess out.  My installation is working fine and am doing my utmost to assist others in achieving the same results I have here.

An info, who is left at HA 2024.7.4 which version of AMP are you using?

@danielbrunt57 So to understand you are using HA 2024.8.1 with AMP 4.12.7?

> @danielbrunt57 So to understand you are using HA 2024.8.1 with AMP 4.12.7?

Yes.


I have prepared a script that centralizes access to alexa_media. 
At the beginning, the script restart alexa_media_player integration and, subsequently, a wait of 3 seconds.

sequence:
  - data:
      entry_id: **your_entry_id**
    action: homeassistant.reload_config_entry
  - delay:
      hours: 0
      minutes: 0
      seconds: 3
      milliseconds: 0

I found my **entry_id** inside the file: /config/.storage/core.config_entries
.storage is an idden directory inside homeassistant main dir. 
You have to go using terminal/ssh utility.

bye


@danielbrunt57 

But you performed the procedure to replace python3.12/http/cookies.py with version 3.13?

> @danielbrunt57
> 
> But you performed the procedure to replace python3.12/http/cookies.py with version 3.13?

No Daniel, this is the only procedure that run without errors.

@messere63 But with what automation do you activate the script. Could you explain it?


I do this with any automation. For example when the power absorbed in my house exceeds the maximum or when an alarm is triggered.

@messere63 I didn't understand?
                                       

Now it works for me for two days and without restarting AMP. I used it to announce sensor states via TTS, and after the update I had to restart AMP every few minutes. I don't use 2FA and I have the AMP system options like this:
![image](https://github.com/user-attachments/assets/89e87fbf-74b6-494b-9d45-ed669606f819)


It works fine !! Thanks a lot !

Guys did update AMP to the last version.. it works perfectly as it was with the v4.12.7.. I think it is clear that for those that still have problems authenticating the issue is clearly something different. The Team here did an amazing job. Thanks a lot guys. 🥇 

@CGU1969 

Could you please answer the following questions? 

1) Could you explain to me how to access AMP without using 2FA? 

2) To update cookies.py do you need to use the danielbrunt57 guide posted here? 

3) For the update of cookies.py do you need to repeat the procedure with each update of HA? 

Thank you.

@petrotti77 

1. Could you explain to me how to access AMP without using 2FA?
**I delete on my Amazon profile the 2FA validations, and don't put anything in the 2FA fields configurations.
So you can try with 2FA enabled and say to us if work or not.
Sorry, but I preffer don't change nothing, and test with 2FA in my instalation, because it's working, and I say, if it's working, don't tocuch anything.** 

2. To update cookies.py do you need to use the @danielbrunt57 guide posted here?
**Yes, I do. And @danielbrunt57 thanks a lot for you work** 

3. For the update of cookies.py do you need to repeat the procedure with each update of HA?
I don't known at this moment, I don't update HA after I did this changes

I hope this can help you.
Regards.

@CGU1969 

Good evening, for now I stayed on HA 2024.7.4 and I have only removed the 2FA validation in my Amazon account and updated AMP from 4.12.5 to 4.12.11 without making any changes to the cookies.py file. Everything seems to work but I'm a little afraid to update to HA 2024.8.3.

@danielbrunt57 
I had a request for AMP re-authentication. I performed your procedure a couple of times but when I check the alexapy version with the pip show alexapy command I always get the 3.12
![Uploading Screenshot 2024-09-16 alle 21.21.53.png…]()
 version. I also edited the manifest file. Am I doing something wrong?

@danielbrunt57 

I had a request for AMP re-authentication. I performed your procedure a couple of times but when I check the alexapy version with the pip show alexapy command I always get the 3.12. version. I also edited the manifest file. Am I doing something wrong?


<img width="1137" alt="Screenshot 2024-09-16 alle 21 21 53" src="https://github.com/user-attachments/assets/201521ae-2fa3-46df-8e79-1d45fbdc941a">


> ```
> "requirements": ["alexapy>=1.28.2", "packaging>=20.3", "wrapt>=1.14.0"], 
> ```
> 
> This worked, change the manifest.json.

What was this before you made the change?  Trying to determine if my from/to would be the same now in October as it was back in August. 