Alexa Media Player fails to initialize after restarting HA 2024.6.3 due to partitioned cookie

**IMPORTANT: Please search the issues, including closed issues, and the [FAQ](https://github.com/alandtse/alexa_media_player/wiki/FAQ) before opening a new issue. The template is mandatory; failure to use it will result in issue closure.**

**Describe the bug**

Alexa Media Player is failing to initialize after restarting HA 2024.6.3.  If I reload the integration, all is well.

**To Reproduce**

Restart Home assistant 2014.6.3 and observe that the integration failed to load.

**Expected behavior**

It should load like it did on 2024.6.2 and older.

**Screenshots**

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/92b551ec-4694-4ce1-b25f-17e43eb9c721)

**System details**

- Home-assistant (version): 2024.6.3
- alexa_media (version from `const.py` or HA startup): 4.10.2
- alexapy (version from `pip show alexapy` or HA startup): 
```
- alexa_media # pip show alexapy
WARNING: Package(s) not found: alexapy
```
- Amazon [2FA is enabled](https://github.com/alandtse/alexa_media_player/wiki/Configuration#enable-two-factor-authentication-for-your-amazon-account) (y/n) : Yes

**Logs**

[home-assistant_2024-06-17T13-08-27.618Z.log](https://github.com/user-attachments/files/15871360/home-assistant_2024-06-17T13-08-27.618Z.log)

**Additional context**



Seeing the same thing.
though, here is my pip output
```pip show alexapy
Name: AlexaPy
Version: 1.27.10
Summary: Python API to control Amazon Echo Devices Programmatically.
Home-page: https://gitlab.com/keatontaylor/alexapy
Author: Keaton Taylor
Author-email: keatonstaylor@gmail.com
License: Apache-2.0
Location: /usr/local/lib/python3.12/site-packages
Requires: aiofiles, aiohttp, authcaptureproxy, backoff, beautifulsoup4, certifi, cryptography, httpx, pyotp, requests, simplejson, yarl
Required-by:
```

Mine does't work even after reloading it. 
HA 2024.6.3

I have the same issue, I need to manually reload integration after each restart, reload seems to work each time.

Same issue. Reloading works for me too.

My workaround for now is this automation:
```
alias: Restart Alexa Media Player after HA starts
description: ""
trigger:
  - platform: homeassistant
    event: start
condition: []
action:
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - alias: Reload Alexa Media Player integration
    service: homeassistant.reload_config_entry
    data: {}
    target:
      entity_id: media_player.bedroom
    enabled: true
mode: single
``` 

Please note this has been in the FAQ for years. https://github.com/alandtse/alexa_media_player/wiki/FAQ#modulenotfounderror-no-module-named-alexapy

But now it's happening on every restart ever since the upgrade. 

I removed the pickle file from .storage, removed and re-added and it's working fine.

> I removed the pickle file from .storage, removed the integration, re-added and it's working fine.

Could you say another sentence or two about this? What's a pickle file?

> Please note this has been in the FAQ for years. https://github.com/alandtse/alexa_media_player/wiki/FAQ#modulenotfounderror-no-module-named-alexapy

I followed your link and...
```
homeassistant:/config# pip3 install alexapy
Looking in indexes: https://pypi.org/simple, https://wheels.home-assistant.io/musllinux-index/
Requirement already satisfied: alexapy in /usr/local/lib/python3.12/site-packages (1.27.10)
```
I removed the pickle file, removed and re-installed the integration but my problem after HA restart still exists...

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/0cf0a6cb-bd77-459c-922d-264959c4ac05)

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/bf586df0-32d2-4cee-b0df-c0b9e3cac497)

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/79646c8f-5526-40b6-ab7a-d07d37babb8d)

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/a1c1b861-4406-466d-9c5f-f8a00fbfd473)


i'm facing the same issue here

Yeah please re-open this issue. It's not a 1 time occurrence anymore and is every restart. 

I also have this issue. The integration fails to start every time I restart HA. And it succeed to load by reloading the integration. The error is always

```
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 594, in async_setup
    result = await component.async_setup_entry(hass, self)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/config/custom_components/alexa_media/__init__.py", line 335, in async_setup_entry
    await login.login(cookies=await login.load_cookie())
                              ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py", line 328, in load_cookie
    cookies = pickle.loads(await myfile.read())
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/http/cookies.py", line 312, in __setitem__
    raise CookieError("Invalid attribute %r" % (K,))
http.cookies.CookieError: Invalid attribute 'partitioned'
```

The issue started about 1-2 weeks ago. I never experienced this before.


I just went back from HA 2014.6.3 to 2014.6.2 and it started up no problem

I am also having this same issue.  Using the automation work-around from danielbrunt57 until it's fixed.  Thanks.

same issue here...renaming old pickle file didnt help unfortunately

For me, renaming the .pickle file and deleting the integration worked as this forced a re-authentication when adding the integration back in. Have not restarted since doing that so unsure if it's persistent.

> I just went back from HA 2014.6.3 to 2014.6.2 and it started up no problem

I just reverted to 2024.6.2 and confirm that it is working correctly.  It's just 2024.6.3 that has the issue.

> Have not restarted since doing that so unsure if it's persistent.

If you're running 2024.6.3, the integration will fail to initialize after HA restarts.

i have the same problem

I just now re-upgraded to HA 2024.6.3 and after restarting the first time, Alexa Media Player initialized just fine but upon subsequent restarts is failing to initialize.

It looks like [PR #119621](https://github.com/home-assistant/core/pull/119621) did change the media_player platform to load earlier than it did in 2024.6.2. 

I don't think the media_player platform is at all related/relevant.
This though might be: [Support for Partitioned cookies attribute #112713](https://github.com/python/cpython/issues/112713)

I've found the solution which is working for me.  The issue lies in alexapy which is using cpython 3.12 and its cookies.py does not define partitioned in the cookie dictionary, which for some reason is what is encountered during first initialization after restart but not during a reload.  I found this PR: [gh-112713 : Add support for 'partitioned' attribute in http.cookies #112714](https://github.com/python/cpython/pull/112714)which has been approved for cpython 3.13 but that's not released yet.  In my homeassistant container, I renamed /usr/local/lib/python3.12/http/cookies.py -> cookies.py.old and created a new cookies.py file from https://github.com/giles-v/cpython/blob/add-cookies-partitioned-support/Lib/http/cookies.py:
```
####
# Copyright 2000 by Timothy O'Malley <timo@alum.mit.edu>
#
#                All Rights Reserved
#
# Permission to use, copy, modify, and distribute this software
# and its documentation for any purpose and without fee is hereby
# granted, provided that the above copyright notice appear in all
# copies and that both that copyright notice and this permission
# notice appear in supporting documentation, and that the name of
# Timothy O'Malley  not be used in advertising or publicity
# pertaining to distribution of the software without specific, written
# prior permission.
#
# Timothy O'Malley DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS
# SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
# AND FITNESS, IN NO EVENT SHALL Timothy O'Malley BE LIABLE FOR
# ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS,
# WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
# PERFORMANCE OF THIS SOFTWARE.
#
####
#
# Id: Cookie.py,v 2.29 2000/08/23 05:28:49 timo Exp
#   by Timothy O'Malley <timo@alum.mit.edu>
#
#  Cookie.py is a Python module for the handling of HTTP
#  cookies as a Python dictionary.  See RFC 2109 for more
#  information on cookies.
#
#  The original idea to treat Cookies as a dictionary came from
#  Dave Mitchell (davem@magnet.com) in 1995, when he released the
#  first version of nscookie.py.
#
####

r"""
Here's a sample session to show how to use this module.
At the moment, this is the only documentation.

The Basics
----------

Importing is easy...

   >>> from http import cookies

Most of the time you start by creating a cookie.

   >>> C = cookies.SimpleCookie()

Once you've created your Cookie, you can add values just as if it were
a dictionary.

   >>> C = cookies.SimpleCookie()
   >>> C["fig"] = "newton"
   >>> C["sugar"] = "wafer"
   >>> C.output()
   'Set-Cookie: fig=newton\r\nSet-Cookie: sugar=wafer'

Notice that the printable representation of a Cookie is the
appropriate format for a Set-Cookie: header.  This is the
default behavior.  You can change the header and printed
attributes by using the .output() function

   >>> C = cookies.SimpleCookie()
   >>> C["rocky"] = "road"
   >>> C["rocky"]["path"] = "/cookie"
   >>> print(C.output(header="Cookie:"))
   Cookie: rocky=road; Path=/cookie
   >>> print(C.output(attrs=[], header="Cookie:"))
   Cookie: rocky=road

The load() method of a Cookie extracts cookies from a string.  In a
CGI script, you would use this method to extract the cookies from the
HTTP_COOKIE environment variable.

   >>> C = cookies.SimpleCookie()
   >>> C.load("chips=ahoy; vienna=finger")
   >>> C.output()
   'Set-Cookie: chips=ahoy\r\nSet-Cookie: vienna=finger'

The load() method is darn-tootin smart about identifying cookies
within a string.  Escaped quotation marks, nested semicolons, and other
such trickeries do not confuse it.

   >>> C = cookies.SimpleCookie()
   >>> C.load('keebler="E=everybody; L=\\"Loves\\"; fudge=\\012;";')
   >>> print(C)
   Set-Cookie: keebler="E=everybody; L=\"Loves\"; fudge=\012;"

Each element of the Cookie also supports all of the RFC 2109
Cookie attributes.  Here's an example which sets the Path
attribute.

   >>> C = cookies.SimpleCookie()
   >>> C["oreo"] = "doublestuff"
   >>> C["oreo"]["path"] = "/"
   >>> print(C)
   Set-Cookie: oreo=doublestuff; Path=/

Each dictionary element has a 'value' attribute, which gives you
back the value associated with the key.

   >>> C = cookies.SimpleCookie()
   >>> C["twix"] = "none for you"
   >>> C["twix"].value
   'none for you'

The SimpleCookie expects that all values should be standard strings.
Just to be sure, SimpleCookie invokes the str() builtin to convert
the value to a string, when the values are set dictionary-style.

   >>> C = cookies.SimpleCookie()
   >>> C["number"] = 7
   >>> C["string"] = "seven"
   >>> C["number"].value
   '7'
   >>> C["string"].value
   'seven'
   >>> C.output()
   'Set-Cookie: number=7\r\nSet-Cookie: string=seven'

Finis.
"""

#
# Import our required modules
#
import re
import string
import types

__all__ = ["CookieError", "BaseCookie", "SimpleCookie"]

_nulljoin = ''.join
_semispacejoin = '; '.join
_spacejoin = ' '.join

#
# Define an exception visible to External modules
#
class CookieError(Exception):
    pass


# These quoting routines conform to the RFC2109 specification, which in
# turn references the character definitions from RFC2068.  They provide
# a two-way quoting algorithm.  Any non-text character is translated
# into a 4 character sequence: a forward-slash followed by the
# three-digit octal equivalent of the character.  Any '\' or '"' is
# quoted with a preceding '\' slash.
# Because of the way browsers really handle cookies (as opposed to what
# the RFC says) we also encode "," and ";".
#
# These are taken from RFC2068 and RFC2109.
#       _LegalChars       is the list of chars which don't require "'s
#       _Translator       hash-table for fast quoting
#
_LegalChars = string.ascii_letters + string.digits + "!#$%&'*+-.^_`|~:"
_UnescapedChars = _LegalChars + ' ()/<=>?@[]{}'

_Translator = {n: '\\%03o' % n
               for n in set(range(256)) - set(map(ord, _UnescapedChars))}
_Translator.update({
    ord('"'): '\\"',
    ord('\\'): '\\\\',
})

_is_legal_key = re.compile('[%s]+' % re.escape(_LegalChars)).fullmatch

def _quote(str):
    r"""Quote a string for use in a cookie header.

    If the string does not need to be double-quoted, then just return the
    string.  Otherwise, surround the string in doublequotes and quote
    (with a \) special characters.
    """
    if str is None or _is_legal_key(str):
        return str
    else:
        return '"' + str.translate(_Translator) + '"'


_OctalPatt = re.compile(r"\\[0-3][0-7][0-7]")
_QuotePatt = re.compile(r"[\\].")

def _unquote(str):
    # If there aren't any doublequotes,
    # then there can't be any special characters.  See RFC 2109.
    if str is None or len(str) < 2:
        return str
    if str[0] != '"' or str[-1] != '"':
        return str

    # We have to assume that we must decode this string.
    # Down to work.

    # Remove the "s
    str = str[1:-1]

    # Check for special sequences.  Examples:
    #    \012 --> \n
    #    \"   --> "
    #
    i = 0
    n = len(str)
    res = []
    while 0 <= i < n:
        o_match = _OctalPatt.search(str, i)
        q_match = _QuotePatt.search(str, i)
        if not o_match and not q_match:              # Neither matched
            res.append(str[i:])
            break
        # else:
        j = k = -1
        if o_match:
            j = o_match.start(0)
        if q_match:
            k = q_match.start(0)
        if q_match and (not o_match or k < j):     # QuotePatt matched
            res.append(str[i:k])
            res.append(str[k+1])
            i = k + 2
        else:                                      # OctalPatt matched
            res.append(str[i:j])
            res.append(chr(int(str[j+1:j+4], 8)))
            i = j + 4
    return _nulljoin(res)

# The _getdate() routine is used to set the expiration time in the cookie's HTTP
# header.  By default, _getdate() returns the current time in the appropriate
# "expires" format for a Set-Cookie header.  The one optional argument is an
# offset from now, in seconds.  For example, an offset of -3600 means "one hour
# ago".  The offset may be a floating point number.
#

_weekdayname = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

_monthname = [None,
              'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

def _getdate(future=0, weekdayname=_weekdayname, monthname=_monthname):
    from time import gmtime, time
    now = time()
    year, month, day, hh, mm, ss, wd, y, z = gmtime(now + future)
    return "%s, %02d %3s %4d %02d:%02d:%02d GMT" % \
           (weekdayname[wd], day, monthname[month], year, hh, mm, ss)


class Morsel(dict):
    """A class to hold ONE (key, value) pair.

    In a cookie, each such pair may have several attributes, so this class is
    used to keep the attributes associated with the appropriate key,value pair.
    This class also includes a coded_value attribute, which is used to hold
    the network representation of the value.
    """
    # RFC 2109 lists these attributes as reserved:
    #   path       comment         domain
    #   max-age    secure      version
    #
    # For historical reasons, these attributes are also reserved:
    #   expires
    #
    # This is an extension from Microsoft:
    #   httponly
    #
    # This dictionary provides a mapping from the lowercase
    # variant on the left to the appropriate traditional
    # formatting on the right.
    _reserved = {
        "expires": "expires",
        "path": "Path",
        "comment": "Comment",
        "domain": "Domain",
        "max-age": "Max-Age",
        "secure": "Secure",
        "httponly": "HttpOnly",
        "version": "Version",
        "samesite": "SameSite",
        "partitioned": "Partitioned",
    }

    _flags = {'secure', 'httponly', 'partitioned'}

    def __init__(self):
        # Set defaults
        self._key = self._value = self._coded_value = None

        # Set default attributes
        for key in self._reserved:
            dict.__setitem__(self, key, "")

    @property
    def key(self):
        return self._key

    @property
    def value(self):
        return self._value

    @property
    def coded_value(self):
        return self._coded_value

    def __setitem__(self, K, V):
        K = K.lower()
        if not K in self._reserved:
            raise CookieError("Invalid attribute %r" % (K,))
        dict.__setitem__(self, K, V)

    def setdefault(self, key, val=None):
        key = key.lower()
        if key not in self._reserved:
            raise CookieError("Invalid attribute %r" % (key,))
        return dict.setdefault(self, key, val)

    def __eq__(self, morsel):
        if not isinstance(morsel, Morsel):
            return NotImplemented
        return (dict.__eq__(self, morsel) and
                self._value == morsel._value and
                self._key == morsel._key and
                self._coded_value == morsel._coded_value)

    __ne__ = object.__ne__

    def copy(self):
        morsel = Morsel()
        dict.update(morsel, self)
        morsel.__dict__.update(self.__dict__)
        return morsel

    def update(self, values):
        data = {}
        for key, val in dict(values).items():
            key = key.lower()
            if key not in self._reserved:
                raise CookieError("Invalid attribute %r" % (key,))
            data[key] = val
        dict.update(self, data)

    def isReservedKey(self, K):
        return K.lower() in self._reserved

    def set(self, key, val, coded_val):
        if key.lower() in self._reserved:
            raise CookieError('Attempt to set a reserved key %r' % (key,))
        if not _is_legal_key(key):
            raise CookieError('Illegal key %r' % (key,))

        # It's a good key, so save it.
        self._key = key
        self._value = val
        self._coded_value = coded_val

    def __getstate__(self):
        return {
            'key': self._key,
            'value': self._value,
            'coded_value': self._coded_value,
        }

    def __setstate__(self, state):
        self._key = state['key']
        self._value = state['value']
        self._coded_value = state['coded_value']

    def output(self, attrs=None, header="Set-Cookie:"):
        return "%s %s" % (header, self.OutputString(attrs))

    __str__ = output

    def __repr__(self):
        return '<%s: %s>' % (self.__class__.__name__, self.OutputString())

    def js_output(self, attrs=None):
        # Print javascript
        return """
        <script type="text/javascript">
        <!-- begin hiding
        document.cookie = \"%s\";
        // end hiding -->
        </script>
        """ % (self.OutputString(attrs).replace('"', r'\"'))

    def OutputString(self, attrs=None):
        # Build up our result
        #
        result = []
        append = result.append

        # First, the key=value pair
        append("%s=%s" % (self.key, self.coded_value))

        # Now add any defined attributes
        if attrs is None:
            attrs = self._reserved
        items = sorted(self.items())
        for key, value in items:
            if value == "":
                continue
            if key not in attrs:
                continue
            if key == "expires" and isinstance(value, int):
                append("%s=%s" % (self._reserved[key], _getdate(value)))
            elif key == "max-age" and isinstance(value, int):
                append("%s=%d" % (self._reserved[key], value))
            elif key == "comment" and isinstance(value, str):
                append("%s=%s" % (self._reserved[key], _quote(value)))
            elif key in self._flags:
                if value:
                    append(str(self._reserved[key]))
            else:
                append("%s=%s" % (self._reserved[key], value))

        # Return the result
        return _semispacejoin(result)

    __class_getitem__ = classmethod(types.GenericAlias)


#
# Pattern for finding cookie
#
# This used to be strict parsing based on the RFC2109 and RFC2068
# specifications.  I have since discovered that MSIE 3.0x doesn't
# follow the character rules outlined in those specs.  As a
# result, the parsing rules here are less strict.
#

_LegalKeyChars  = r"\w\d!#%&'~_`><@,:/\$\*\+\-\.\^\|\)\(\?\}\{\="
_LegalValueChars = _LegalKeyChars + r'\[\]'
_CookiePattern = re.compile(r"""
    \s*                            # Optional whitespace at start of cookie
    (?P<key>                       # Start of group 'key'
    [""" + _LegalKeyChars + r"""]+?   # Any word of at least one letter
    )                              # End of group 'key'
    (                              # Optional group: there may not be a value.
    \s*=\s*                          # Equal Sign
    (?P<val>                         # Start of group 'val'
    "(?:[^\\"]|\\.)*"                  # Any doublequoted string
    |                                  # or
    \w{3},\s[\w\d\s-]{9,11}\s[\d:]{8}\sGMT  # Special case for "expires" attr
    |                                  # or
    [""" + _LegalValueChars + r"""]*      # Any word or empty string
    )                                # End of group 'val'
    )?                             # End of optional value group
    \s*                            # Any number of spaces.
    (\s+|;|$)                      # Ending either at space, semicolon, or EOS.
    """, re.ASCII | re.VERBOSE)    # re.ASCII may be removed if safe.


# At long last, here is the cookie class.  Using this class is almost just like
# using a dictionary.  See this module's docstring for example usage.
#
class BaseCookie(dict):
    """A container class for a set of Morsels."""

    def value_decode(self, val):
        """real_value, coded_value = value_decode(STRING)
        Called prior to setting a cookie's value from the network
        representation.  The VALUE is the value read from HTTP
        header.
        Override this function to modify the behavior of cookies.
        """
        return val, val

    def value_encode(self, val):
        """real_value, coded_value = value_encode(VALUE)
        Called prior to setting a cookie's value from the dictionary
        representation.  The VALUE is the value being assigned.
        Override this function to modify the behavior of cookies.
        """
        strval = str(val)
        return strval, strval

    def __init__(self, input=None):
        if input:
            self.load(input)

    def __set(self, key, real_value, coded_value):
        """Private method for setting a cookie's value"""
        M = self.get(key, Morsel())
        M.set(key, real_value, coded_value)
        dict.__setitem__(self, key, M)

    def __setitem__(self, key, value):
        """Dictionary style assignment."""
        if isinstance(value, Morsel):
            # allow assignment of constructed Morsels (e.g. for pickling)
            dict.__setitem__(self, key, value)
        else:
            rval, cval = self.value_encode(value)
            self.__set(key, rval, cval)

    def output(self, attrs=None, header="Set-Cookie:", sep="\015\012"):
        """Return a string suitable for HTTP."""
        result = []
        items = sorted(self.items())
        for key, value in items:
            result.append(value.output(attrs, header))
        return sep.join(result)

    __str__ = output

    def __repr__(self):
        l = []
        items = sorted(self.items())
        for key, value in items:
            l.append('%s=%s' % (key, repr(value.value)))
        return '<%s: %s>' % (self.__class__.__name__, _spacejoin(l))

    def js_output(self, attrs=None):
        """Return a string suitable for JavaScript."""
        result = []
        items = sorted(self.items())
        for key, value in items:
            result.append(value.js_output(attrs))
        return _nulljoin(result)

    def load(self, rawdata):
        """Load cookies from a string (presumably HTTP_COOKIE) or
        from a dictionary.  Loading cookies from a dictionary 'd'
        is equivalent to calling:
            map(Cookie.__setitem__, d.keys(), d.values())
        """
        if isinstance(rawdata, str):
            self.__parse_string(rawdata)
        else:
            # self.update() wouldn't call our custom __setitem__
            for key, value in rawdata.items():
                self[key] = value
        return

    def __parse_string(self, str, patt=_CookiePattern):
        i = 0                 # Our starting point
        n = len(str)          # Length of string
        parsed_items = []     # Parsed (type, key, value) triples
        morsel_seen = False   # A key=value pair was previously encountered

        TYPE_ATTRIBUTE = 1
        TYPE_KEYVALUE = 2

        # We first parse the whole cookie string and reject it if it's
        # syntactically invalid (this helps avoid some classes of injection
        # attacks).
        while 0 <= i < n:
            # Start looking for a cookie
            match = patt.match(str, i)
            if not match:
                # No more cookies
                break

            key, value = match.group("key"), match.group("val")
            i = match.end(0)

            if key[0] == "$":
                if not morsel_seen:
                    # We ignore attributes which pertain to the cookie
                    # mechanism as a whole, such as "$Version".
                    # See RFC 2965. (Does anyone care?)
                    continue
                parsed_items.append((TYPE_ATTRIBUTE, key[1:], value))
            elif key.lower() in Morsel._reserved:
                if not morsel_seen:
                    # Invalid cookie string
                    return
                if value is None:
                    if key.lower() in Morsel._flags:
                        parsed_items.append((TYPE_ATTRIBUTE, key, True))
                    else:
                        # Invalid cookie string
                        return
                else:
                    parsed_items.append((TYPE_ATTRIBUTE, key, _unquote(value)))
            elif value is not None:
                parsed_items.append((TYPE_KEYVALUE, key, self.value_decode(value)))
                morsel_seen = True
            else:
                # Invalid cookie string
                return

        # The cookie string is valid, apply it.
        M = None         # current morsel
        for tp, key, value in parsed_items:
            if tp == TYPE_ATTRIBUTE:
                assert M is not None
                M[key] = value
            else:
                assert tp == TYPE_KEYVALUE
                rval, cval = value
                self.__set(key, rval, cval)
                M = self[key]


class SimpleCookie(BaseCookie):
    """
    SimpleCookie supports strings as cookie values.  When setting
    the value using the dictionary assignment notation, SimpleCookie
    calls the builtin str() to convert the value to a string.  Values
    received from HTTP are kept as strings.
    """
    def value_decode(self, val):
        return _unquote(val), val

    def value_encode(self, val):
        strval = str(val)
        return strval, _quote(strval)
```
Line 285 is where  "partitioned" has been added to the cookie dictionary.

Confirming rolling back to 2024.6.2 resolves the issue.  It's only 2024.6.3 that has the issue.

I am on 20024.6.3 and after removing the pickle file and re-adding the integration, I dont see the issue after any number of restarts.
Very odd as it seems random for everyone.


> I am on 20024.6.3 and after removing the pickle file and re-adding the integration, I dont see the issue after any number of restarts. Very odd as it seems random for everyone.

and I'm still unable to find that file. I looked into the custom_components folder but never found it

Try inside the .storage folder.

On Fri, 21 Jun 2024, 15:09 carvan, ***@***.***> wrote:

> I am on 20024.6.3 and after removing the pickle file and re-adding the
> integration, I dont see the issue after any number of restarts. Very odd as
> it seems random for everyone.
>
> and I'm still unable to find that file. I looked into the
> custom_components folder but never found it
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/alandtse/alexa_media_player/issues/2288#issuecomment-2182829750>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ADIEYDAIWF4RQFCWDC4M5ELZIQXZ3AVCNFSM6AAAAABJN7M7RKVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDCOBSHAZDSNZVGA>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


> Confirming rolling back to 2024.6.2 resolves the issue. It's only 2024.6.3 that has the issue.

**I too can confirm that the only thing that resolved the issue for me after trying everything else was rolling back to 2024.6.2 via the terminal command at the end of this message.**  I should note, after the roll back, I had to restart HA one more time as Alexa Media Player still threw the same partitioned error.

Please ensure you have a full backup for disaster recovery.  I am not responsible if this breaks anything else.  With that said, the process was without issue for me.

`ha core update --version 2024.6.2`

So I've fixed it on my end and here is how. 

I first followed the instructions to remove the pickle file. Once that was done, I removed, and then reinstalled the alexa_media_player component from HACS and then reinstalled it. Upon reinstalling it, I changed my settings for scans from 60 seconds to 300 seconds (5 minutes). I then setup the automation mentioed by @danielbrunt57 but set mine for 30 seconds.

I've now rebooted several times, and the issue will be there again until it's reinitialized. Make sure for the e automation, you target all of the entities that are in your alexa_media_player.  Mine looks like the following:

```yaml
alias: Reload Alexa Media Player after HA starts
description: ""
trigger:
  - platform: homeassistant
    event: start
condition: []
action:
  - service: mobile_app_myphone
    data:
      message: Initializing HA/Alexa - This will take about 30 seconds, Please Wait...
      title: Home Assistant - Patched Startup
  - delay:
      hours: 0
      minutes: 0
      seconds: 30
      milliseconds: 0
  - alias: Reload Alexa Media Player integration
    service: homeassistant.reload_config_entry
    data: {}
    enabled: true
    target:
      entity_id:
        - media_player.master_suite_speaker
        - media_player.guest_bedroom_speaker
        - media_player.family_room_speaker
        - media_player.living_room_speaker
        - media_player.garage_speaker
        - media_player.entertainment_room_speaker
        - media_player.playroom_speaker
        - media_player.home_office_speaker
        - media_player.kitchen_family_hub
  - service: notify.mobile_app_myphone
    data:
      title: Home Assistant - Patched Startup
      message: System Ready!
mode: single
```

I also added a notification on the boot up that sends me a notification on my phone from when it's booted, to when it's ran the re-initialization.

Now I have this:

![image](https://github.com/alandtse/alexa_media_player/assets/20691322/5adb2e5a-adc7-4869-a129-552ce2f8fad6)


> Make sure for the automation, you target all of the entities that are in your alexa_media_player

No need to list them all.  The `homeassistant.reload_config_entry` service requires a minimum of one entity_id to be specified and that will reload the config entry for that entity which is the one and only config entry for all of them.

I just installed HA 2024.6.4 and rebooted, but the problem seems to persist.

> I just installed HA 2024.6.4 and rebooted, but the problem seems to persist.

Yes, problem remains. 
I installed it on Thursday and had to re-replace cookies.py and re-edit manifest.json

same here after updating. 
I've implemented the reload automation mentioned and will wait and see if it gets fixed down the line.

i resorted to restoring to an earlier version. i hope it gets fixed soon 

I noticed this issue 2 days ago when I restarted home assistant after a config change. I came here and found out about this. Today, just now after updating to OS 12.4 and core 2024.6.4, Alexa Media Player started normally. I did 2x restarts just to confirm. I did uncheck "Include devices connected via Echo" when I noticed the issue at first, otherwise I have not changed anything.

I deleted the Alexa Media Player integration in HA 2024.6.4, deleted the custom component in HACS and restarted HA.
I then deleted the following files in /config/.storage:
-rw-r--r--    1 root     root            98 Jun  9 00:39 alexa
-rw-r--r--    1 root     root           783 Jun 26 16:13 alexa_auth
-rw-r--r--    1 root     root          2577 Jun 26 16:44 alexa_media.daniel@brunt.ca.pickle

I re-installed Alexa Media Player Custom Component in HACS, restarted HA and re-installed the Alexa Media Player integration and, after three HA restarts, Alexa Media Player is initializing just fine now.

It might be worth noting that before starting the above exercise, I reviewed my settings in Edge browser and in `Privacy, search and services` where I had changed `Balanced` to `Basic` some number of weeks ago, I changed it back to `Balanced`.

So for me, this is no longer an issue.

I still have the problem after the upgrade of HA and the OS. I am sad to see this closed. There is obviously an issue with timing since it always fails to load at the restart of HA and always succeeds after a reload. 

My issue also persists like Kenneth

> My issue also persists like Kenneth

Mine too.

And mine too. I don't understand why this issue was closed when the underlying problem was not addressed.

If you all are still having issues then I am thinking that the change I made in my Microsoft Edge's Privacy, search and services may have resolved my issue.  I will re-do my re & re with my previous Edge setting and test restarting a few times...

The issue is back(still there) for me also. Not sure why it worked for multiple restarts yesterday but today it failed to load again. To add, I haven’t tried any workarounds, just posting my experience. 

Any chance this is more of an Alexa problem? My Alexa app has issues. I also have Sonos(also problematic networking software) speakers within the Alexa ecosystem that show up in the Alexa Media Player integration. These show as unavailable in Alexa and I haven’t been able to successfully remove them there as I don’t really need them exposed to home assistant via Alexa Media Player integration. 

So, I've restored my Edge Privacy, search and services setting to Basic, removed the integration & HACS component, restarted, deleted alexa* from .storage, verified I have original manifest.json and cookies.py file, reinstalled HACS component, restarted, reinstalled integration and restarted HA three times now and Alexa Media Player is initializing fine.

One difference from before: my Windows 11 has had an automatic update and a reboot in the interim but that I do not see how that should matter...

Could someone with the issue try the `cookies.py` I posted and also the `manifest.json` edit to see if that fixes their problem???

@danielbrunt57 just tested it and it works for me!

> @danielbrunt57 just tested it and it works for me!

Awesome!

i wonder why I no longer need it tough.  Very weird...

The hack of files inside the HA container is a bit risky business. Hacking a custom component I dare. Adding the websocket dependency does not fix it. I am not strong enough in understand docker to attempt hacking code inside HA

I do not understand several things.

What does your experiences with your browser have to do with Home Assistant running in a Linux on a server? Why would the browser used to restart HA make the Python code run differently?  I restart my HA from Safari browser on an iPad normally.

And why does the same Python code on the server fail when HA starts up, but works just fine when the integration is reloaded. They key to finding the root cause must and a fix. What is it in HA that is not ready when the integration attempts to start?

> And why does the same Python code on the server fail when HA starts up, but works just fine when the integration is reloaded. They key to finding the root cause must and a fix. What is it in HA that is not ready when the integration attempts to start?

I think the problem lies with HA's startup changes and blocking calls during integration import.

this is showing up in beta `async_forward_entry_setup` as something to avoid using and Alexa media player is using that call.

```
2024-06-28 17:09:02.276 WARNING (MainThread) [homeassistant.helpers.frame] Detected code that calls async_forward_entry_setup for integration alexa_media with title: xxx@xxx.com - amazon.com and entry_id: 83aee4b1bdf4ba886c587005ca6a4a93, during setup without awaiting async_forward_entry_setup, which can cause the setup lock to be released before the setup is done. This will stop working in Home Assistant 2025.1. Please report this issue.
````

> I think the problem lies with HA's startup changes and blocking calls during integration import.
> 
> this is showing up in beta `async_forward_entry_setup` as something to avoid using and Alexa media player is using that call.

Well, I fixed that on my system and it didn't solve the problem.

So this was your change?

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/5be05d56-c05e-461f-8c83-44d6963dea2a)


@Petro31 Are you also getting the partitioned cookie error?

> @Petro31 Are you also getting the partitioned cookie error?

Yes but I haven't fixed that yet.  That requires some more debugging.

The way to fix the beta errors and warnings is to swap to `hass.config_entries.async_forward_entry_setups(` and wrap `component` in a list `[component]`

```

                    config_entry.async_create_task(
                        hass,
                        hass.config_entries.async_forward_entry_setups(
                            config_entry, [component]
                        )
                    )
```


> Yes but I haven't fixed that yet. That requires some more debugging.

I fixed my error with the cookies.py file from the new python 3.13 work where giles-v has a PR:  [_Add support for 'partitioned' attribute in http.cookies #112714_ (https://github.com/python/cpython/pull/112714)] which adds support for [Cookies Having Independent Partitioned State (CHIPS)](https://developers.google.com/privacy-sandbox/3pcd/chips)  but now for some strange reason I no longer need it and do not have the error.  I'm thinking it's somehow browser related but do not know how I rid myself of my partitioned cookie...

@danielbrunt57 thank you for your suggestion.
I confirm that following the above (https://github.com/alandtse/alexa_media_player/issues/2288#issuecomment-2181877003 )recommendation fixed my problem

For me it does not fix the issue.
But i could not follow the exact instruction because of the cookies.py location.
@danielbrunt57 said it is in
> /usr/local/lib/python3.12/http/cookies.py

but i have it in

> /usr/lib/python3.12/http/cookies.py



So for me, the  only thing that worded was restoring back to version 2024.6.2 and that is where I stayed. Now with 2024.7.0 due to come out soon, I wonder if it will be addressed in it

Comment #2288 didn't work for me. The first few restarts everything was good. After the fourth restart it started failing again and has failed after subsequent restarts. I reverted back to 2024.6.2. 

same here on 2424.6.4: restoring back 2024.6.2 solves the issue. Hope HA team will fix this...?

@danielbrunt57  Sorry I didn't check for partitioned cookie error before I rolled back. I just tried again and restarted 6 times but have not gotten the error yet. Alexa Media player is still loading as it should. If I do get it later,  I will check for error.



There is something very strange going on here and even though I am trouble free, am still puzzled...

> @danielbrunt57 Sorry I didn't check for partitioned cookie error before I rolled back. I just tried again and restarted 6 times but have not gotten the error yet. Alexa Media player is still loading as it should. If I do get it later, I will check for error.

Is that with or without the "enhanced" cookies,py file?

@danielbrunt57 

My alexa instance had just stopped all together.
Your suggested  fix with edited py fixed it and continues to work after several restarts

> @danielbrunt57
> 
> My alexa instance had just stopped all together. Your suggested fix with edited py fixed it and continues to work after several restarts

I'm glad it helped but still don't really know why it was needed.......

Various back and forth here: can someone be kind enough to give the exact steps to fix this issue ? Thanks in advance.

Well, it's  not a "fix" per se as no one so far really knows what is going on (myself included).
If you are getting a "partitioned cookie" error then my [# 2288 (comment)](https://github.com/alandtse/alexa_media_player/issues/2288#issuecomment-2181877003) should get you running again.  
But the question remains, why is partitioned cookie support all of a sudden even necessary....

Thank you Daniel ! I could manage to reauthenticate and it works again. When you know more, keep us posted so that we know what is the right procedure to use on upcoming HA release.

@danielbrunt57  I am now getting the issue with Alexa Media Player loading on restart. I am also seeing the cookie partition issue. 

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 594, in async_setup
    result = await component.async_setup_entry(hass, self)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/config/custom_components/alexa_media/__init__.py", line 335, in async_setup_entry
    await login.login(cookies=await login.load_cookie())
                              ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py", line 328, in load_cookie
    cookies = pickle.loads(await myfile.read())
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/http/cookies.py", line 312, in __setitem__
    raise CookieError("Invalid attribute %r" % (K,))
http.cookies.CookieError: Invalid attribute 'partitioned'

> @danielbrunt57 I am now getting the issue with Alexa Media Player loading on restart. I am also seeing the cookie partition issue.

What all have you tried or installed since retrying?
Are you on 2024.6.4?
Is the "enhanced" cookies.py file still in place?  Line 285 should be this:
```
        "partitioned": "Partitioned",
```

Yes, line 285 has this "partitioned": "Partitioned"

> Yes, line 285 has this "partitioned": "Partitioned"

File "/usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py"?

or, if you are inside the homeassistant container, it's "/usr/local/lib/python3.12/http/cookies.py"

In the home assistant container at /usr/local/lib/python3.12/http/cookies.py, "partition": "Partitioned" is in the cookies.py file. 

> File "/usr/local/lib/python3.12/http/cookies.py", line 312, in **setitem**
> raise CookieError("Invalid attribute %r" % (K,))
> http.cookies.CookieError: Invalid attribute 'partitioned'

Line 312 in the original cookies.py file is:
`raise CookieError("Invalid attribute %r" % (K,))`

Line 312 in the PR's cookies.py file is: ` if not K in self._reserved:`
and the `raise CookieError("Invalid attribute %r" % (K,))` is line 313!

It would seem your system is somehow executing the original cookies.py which has the raise CookieError at line 312.

I'd suggest trying a full system reboot on your HA system.
![image](https://github.com/alandtse/alexa_media_player/assets/49846893/b948a359-2918-4772-8884-309b90371364)


When I'm confused about where things are, I use `find` to search and print the full path:
```
cd /
find . -name cookies.py -print
```

Did a full reboot as you suggested and then did a find and these are the results.
 ~ cd /   
➜  / find . -name cookies.py -print
./usr/lib/python3.12/site-packages/pip/_vendor/requests/cookies.py
./usr/lib/python3.12/http/cookies.py
➜  / 

Looking at the cookies.py it has reverted back to an earlier version and the partition": "Partitioned"  is not there.

I hadn't replace the cookie file yet. Was waiting to hear back from you. Replaced it this morning and ran command and this is what I got back.

find . -name cookies.py -print
./usr/lib/python3.12/site-packages/pip/_vendor/requests/cookies.py
./usr/lib/python3.12/http/cookies.py
find: ./proc/487/task/487/fdinfo: Permission denied
find: ./proc/487/fdinfo: Permission denied
find: ./proc/488/task/488/fdinfo: Permission denied
find: ./proc/488/fdinfo: Permission denied

Alexa media play failed on second restart.

So for those of us that chose to rollback, with the upcoming 2024.7.0
coming today, should we not upgrade?

On Wed, Jul 3, 2024, 12:28 PM wxman60 ***@***.***> wrote:

> I hadn't replace the cookie file yet. Was waiting to hear back from you.
> Replaced it this morning and ran command and this is what I got back.
>
> find . -name cookies.py -print
> ./usr/lib/python3.12/site-packages/pip/_vendor/requests/cookies.py
> ./usr/lib/python3.12/http/cookies.py
> find: ./proc/487/task/487/fdinfo: Permission denied
> find: ./proc/487/fdinfo: Permission denied
> find: ./proc/488/task/488/fdinfo: Permission denied
> find: ./proc/488/fdinfo: Permission denied
>
> Alexa media play failed on second restart.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/alandtse/alexa_media_player/issues/2288#issuecomment-2206751033>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AHOXQZ4EYEV7GXALL2ZKVLTZKQRCJAVCNFSM6AAAAABJN7M7RKVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDEMBWG42TCMBTGM>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


> So for those of us that chose to rollback, with the upcoming 2024.7.0 coming today, should we not upgrade?

I won't know until I get 2024.7.0 and try with the original cookies.py file.  There's been zero input from @alandtse on this.
Plus I don't  understand why there's a partitioned cookie with >= 2024.6.3 but not 2024.6.2.....

> Alexa media play failed on second restart.

Is the cookies.py file still the modified one??

I just got 2024.7.0 and it wiped my updated cookies.py file and AMP failed to initialize...
```
Logger: homeassistant.config_entries
Source: config_entries.py:586
First occurred: 10:39:57 AM (1 occurrences)
Last logged: 10:39:57 AM

Error setting up entry daniel@brunt.ca - amazon.com for alexa_media
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 586, in async_setup
    result = await component.async_setup_entry(hass, self)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/config/custom_components/alexa_media/__init__.py", line 335, in async_setup_entry
    await login.login(cookies=await login.load_cookie())
                              ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py", line 328, in load_cookie
    cookies = pickle.loads(await myfile.read())
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/http/cookies.py", line 312, in __setitem__
    raise CookieError("Invalid attribute %r" % (K,))
http.cookies.CookieError: Invalid attribute 'partitioned'
```
Re-replacing the file...

Yes, it is still the new one after restart. If I do a reboot then it reverts back to the old one.

> Yes, it is still the new one after restart. If I do a reboot then it reverts back to the old one.

Are you doing a Restart Home Assistant or a Reboot system?   (and I presume you are using Home Assistant Operating System aka Supervised?)

Well, after replacing cookies.py I have now have a different behaviour...a VERY long delay on initializing AMP which eventually gives me...
![image](https://github.com/alandtse/alexa_media_player/assets/49846893/3cd888d0-f640-4601-ba53-b3c70f17219d)




I did both, first a restart and the file remained the new one and then a reboot and it reverted back to the old one.


> I did both, first a restart and the file remained the new one and then a reboot and it reverted back to the old one.

I dunno...

I just removed the AMP config & re-added it and now I get an Amazon captcha which I complete but it then gives me,.,.

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/235342eb-1c77-4bb6-ac09-9cfd87f4c14b)

and I can't add it.

I would say this integration unfortunately is now very broken..............


I just received 2024.7 and going to upgrade to that. I already have an automation that reloads AMP after restart. Will just wait to see if @alandtse can find a fix for it.

Thanks for making the attempt to find a work around.

I just switched from Edge to Chrome, logged into HA and was successfully able to reinstall the AMP integration so something is/got messed up in Edge.

...and someone posted a while back that the browser is not involved in this!

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/da725b2e-664b-4d77-b339-4d8f442c4231)


I removed and re-added the integration in Edge and it now successfully completes without that captcha screen.

I restarted HA and my cookies.py file reverted to the original and AMP failed to initialize....

It's now 11:50 am and I need some sleep after up for nearly 24 hours (in which I worked 12 hours) before I start my next evening/graveyard shift....

> I just received 2024.7 and going to upgrade to that. I already have an automation that reloads AMP after restart. Will just wait to see if @alandtse can find a fix for it.

You may be waiting until 2024.11 or 2024.12 as October is the scheduled release of the next python version which will hopefully address this new partitioned cookie structure, unless @alantse has time to devise and rewrite it to not use the current cookie method.  That or someone figures out why HA sees it at restart while an integration reload after-the-fact does not...

Came across this earlier today. Looks like AMP won't be updated for a while or if ever.
https://community.home-assistant.io/t/alexa-media-player-custom-integration-on-life-support-help-wanted/725684

i am no programmer or developer, i am just a dumb user that can follow guides pretty well. so i guess what i don't get is that it works just fine on 2024.6.2 so what is causing it to break on newer versions?

An update from Alan just came across 4.10.3.  It's a fix for "warning for async_forward_entry_setup". I just tried it and restarted a few time and Alexa Media Player is still not loading on restart. Hopefully he will address it soon.

> An update from Alan just came across 4.10.3. It's a fix for "warning for async_forward_entry_setup". I just tried it and restarted a few time and Alexa Media Player is still not loading on restart. Hopefully he will address it soon.

Yes, I made that fix and that change wasn't going to fix this issue.  It was to fix a different issue.

so today i saw that the Alexa Media Player integration had an update. i installed it but i am still on HA 2024.6.2 and have not upgraded to 2024.7.0 yet. anyone on 2024.7.0 and did the AMP upgrade as well? can you confirm if the issue has gone away now?

After getting 2024.7.0 on Wednesday and also upgrading to the latest AMP, no the issue persists.
I just now decided to retry core-2024.7.0 with a different test:

- Removed the integration
- Restored the original cookies.py file in /usr/local/lib/homeassistant/homeassistant/python3.12
- Removed /config/.storage/alexa*
- Restarted HA
- Installed the integration
- Restarted HA
- >>> AMP failed to initialize <<<
- Edited /config/custom_components/alexa_media/manifest.json and added "HACS" to dependencies
- Restarted HA
- *** AMP initialized ***
- Restarted HA a second time
- >>> AMP failed to initialize <<<
- Tried "ping" instead of "hacs"
- >>> AMP failed to initialize <<<
- Tried "websocket"
- >>> AMP not found!!! >>>
- Reverted to modifying ha startup automation and reloading integration at different points and I finally arrived at this which worked and AMP finally loads and I get my verbal message on Office Echo Dot Left 

![image](https://github.com/alandtse/alexa_media_player/assets/49846893/49f4fa5a-bc93-43f5-96fd-c952bdf203a0)
![image](https://github.com/alandtse/alexa_media_player/assets/49846893/42e22d2f-31bb-4e0f-a734-83c15ee525e1)

Note: I added `"hacs"` dependency to manifest.json otherwise AMP would be in the 1st initializing state for a  v e r y  long time.

Using the original python3.12 cookies.py file without partitioned cookie support, this worked for me but it does delay my complete startup by a lot.  I will probably go back to the python3.13 file...






As I think I stated before, Python 3.13 is not scheduled to be out of beta until October and it may be a month or more before HA updates to 3.13.  The PR for partitioned cookie support appears to still be on track as a `Feature `for `3.13`, but we might see a new AMP integration before all that happens...

Same issue. Had to roll back to previous release. 

> Same issue. Had to roll back to previous release.

If that's the solution you choose to stick with then based on my limited knowledge of the issue and a solution for it, you'll be on 2024.6.2 until November or December...

I have this issue was well, interestingly perhaps I also had the same issue just recently with the tuya integration as well, ie also needed a reload of the item after a reboot, the tuya one however has stopped happening after the last HA update but the alexa one persists

Registrador: homeassistant.setup
Fuente: setup.py:322
Ocurrió por primera vez: 12:11:15 (1 ocurrencias)
Último inicio de sesión: 12:11:15

Setup failed for custom integration 'alexa_media': Unable to import component: Exception importing custom_components.alexa_media
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/loader.py", line 1050, in _get_component
    ComponentProtocol, importlib.import_module(self.pkg_path)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/src/homeassistant/homeassistant/util/loop.py", line 200, in protected_loop_func
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/importlib/__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1331, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 935, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 995, in exec_module
  File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
  File "/config/custom_components/alexa_media/__init__.py", line 16, in <module>
    from alexapy import (
  File "/usr/local/lib/python3.12/site-packages/alexapy/__init__.py", line 41, in <module>
    __maintainer__ = metadata["maintainer"]
                     ~~~~~~~~^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/site-packages/importlib_metadata/_adapters.py", line 54, in __getitem__
    raise KeyError(item)
KeyError: 'maintainer'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/loader.py", line 990, in async_get_component
    comp = await self.hass.async_add_import_executor_job(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/concurrent/futures/thread.py", line 58, in run
    result = self.fn(*self.args, **self.kwargs)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/src/homeassistant/homeassistant/loader.py", line 1061, in _get_component
    raise ImportError(f"Exception importing {self.pkg_path}") from err
ImportError: Exception importing custom_components.alexa_media

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/loader.py", line 1050, in _get_component
    ComponentProtocol, importlib.import_module(self.pkg_path)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/src/homeassistant/homeassistant/util/loop.py", line 200, in protected_loop_func
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/importlib/__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1331, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 935, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 995, in exec_module
  File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
  File "/config/custom_components/alexa_media/__init__.py", line 16, in <module>
    from alexapy import (
  File "/usr/local/lib/python3.12/site-packages/alexapy/__init__.py", line 41, in <module>
    __maintainer__ = metadata["maintainer"]
                     ~~~~~~~~^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/site-packages/importlib_metadata/_adapters.py", line 54, in __getitem__
    raise KeyError(item)
KeyError: 'maintainer'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 322, in _async_setup_component
    component = await integration.async_get_component()
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/src/homeassistant/homeassistant/loader.py", line 1010, in async_get_component
    self._component_future.result()
  File "/usr/src/homeassistant/homeassistant/loader.py", line 1002, in async_get_component
    comp = self._get_component()
           ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/src/homeassistant/homeassistant/loader.py", line 1061, in _get_component
    raise ImportError(f"Exception importing {self.pkg_path}") from err
ImportError: Exception importing custom_components.alexa_media

I am having to same issue. After every restart, I have to reload the integration for it to work.

> I am having to same issue. After every restart, I have to reload the integration for it to work.

The only solutions so far are...
1) Revert to 2024.6.2 and stay there until you hear otherwise (which could be 6 months).
2) Create an automation triggered by `home assistant start` to reload the integration.
3) Replace the `/usr/local/lib/python3.12/http/cookies.py` file and re-replace it after every HA update until python 3.13 is released and HA upgrades to it, with the PR for python 3.13 version which I discovered in my quest for a solution.

The core issue seems to lie in HA's python 3.12 and how AMP interacts with HA core services i.e. http.  For some reason yet unknown, AMP initialization is gaining access to/given a partitioned cookie (see CHIPS support in browsers) but is getting a regular cookie when reloaded.

Someone may still discover the reason and a solution for it but it will _not_ be the maintainer of this integration as he has stepped away from it except to review and merge other PR's that people might put forth.

> The only solutions so far are...
> 
> 1. Revert to 2024.6.2 and stay there until you hear otherwise (which could be 6 months).
> 2. Create an automation triggered by `home assistant start` to reload the integration.
> 3. Replace the `/usr/local/lib/python3.12/http/cookies.py` file and re-replace it after every HA update until python 3.13 is released and HA upgrades to it, with the PR for python 3.13 version which I discovered in my quest for a solution.
> 
> The core issue seems to lie in HA's python 3.12 and how AMP interacts with HA core services i.e. http. For some reason yet unknown, AMP initialization is gaining access to/given a partitioned cookie (see CHIPS support in browsers) but is getting a regular cookie when reloaded.
> 
> Someone may still discover the reason and a solution for it but it will _not_ be the maintainer of this integration as he has stepped away from it except to review and merge other PR's that people might put forth.

4. Have alexapy keep a custom version of http with the fix and use that. The downside is that it will be frozen in place moving forward. I haven't looked at cookies and don't intend to, but perhaps an inherited class can provide the functionality temporarily and based on python version.

As noted, I'll review and merge if someone sends a PR.

AMP doesn't even initialize me.  I already put the error above

> > I am having to same issue. After every restart, I have to reload the integration for it to work.
> 
> The only solutions so far are...
> 
> 1. Revert to 2024.6.2 and stay there until you hear otherwise (which could be 6 months).
> 2. Create an automation triggered by `home assistant start` to reload the integration.
> 3. Replace the `/usr/local/lib/python3.12/http/cookies.py` file and re-replace it after every HA update until python 3.13 is released and HA upgrades to it, with the PR for python 3.13 version which I discovered in my quest for a solution.
> 
> The core issue seems to lie in HA's python 3.12 and how AMP interacts with HA core services i.e. http. For some reason yet unknown, AMP initialization is gaining access to/given a partitioned cookie (see CHIPS support in browsers) but is getting a regular cookie when reloaded.
> 
> Someone may still discover the reason and a solution for it but it will _not_ be the maintainer of this integration as he has stepped away from it except to review and merge other PR's that people might put forth.

I'd like to try #2 is there a good example of how to do that? the one i read further up this thread looks like its restarting a device but then again... i am the one asking so i am the one admitting i do not know too

> > > I am having to same issue. After every restart, I have to reload the integration for it to work.
> > 
> > 
> > The only solutions so far are...
> > 
> > 1. Revert to 2024.6.2 and stay there until you hear otherwise (which could be 6 months).
> > 2. Create an automation triggered by `home assistant start` to reload the integration.
> > 3. Replace the `/usr/local/lib/python3.12/http/cookies.py` file and re-replace it after every HA update until python 3.13 is released and HA upgrades to it, with the PR for python 3.13 version which I discovered in my quest for a solution.
> > 
> > The core issue seems to lie in HA's python 3.12 and how AMP interacts with HA core services i.e. http. For some reason yet unknown, AMP initialization is gaining access to/given a partitioned cookie (see CHIPS support in browsers) but is getting a regular cookie when reloaded.
> > Someone may still discover the reason and a solution for it but it will _not_ be the maintainer of this integration as he has stepped away from it except to review and merge other PR's that people might put forth.
> 
> I'd like to try #2 is there a good example of how to do that? the one i read further up this thread looks like its restarting a device but then again... i am the one asking so i am the one admitting i do not know too

here's an example
https://github.com/Petro31/home-assistant-config/blob/5e61f118f8854a79b24a5af4ba1adb6ef2341eed/automation/reactions.yaml#L75

> here's an example https://github.com/Petro31/home-assistant-config/blob/5e61f118f8854a79b24a5af4ba1adb6ef2341eed/automation/reactions.yaml#L75

what i do not understand is the goal is to reload the integration after HA restarts, why are you reloading alexa speaker identity?
![image](https://github.com/alandtse/alexa_media_player/assets/31291495/cfafc978-6b82-4ea9-b7ef-0af06a610a28)

i get everything above that and the bottom partis a notification. i just don't understand the reloading of an alexa device



Reloading any entity in an integration reloads the entire integration.

my workaround: 

`alias: xSYSTEM - Reload Alexa Media Player after HA starts
description: Workaround
trigger:
  - platform: homeassistant
    event: start
condition: []
action:
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - alias: Reload Alexa Media Player integration
    service: homeassistant.reload_config_entry
    data: {}
    enabled: true
    target:
      entity_id: media_player.toilet_echo
mode: single
`


#reload of one device is enough ;-)

hm same issue here - need to reload some times after every restart :(

> Reloading any entity in an integration reloads the entire integration.

I solved half of the problem.
With the suggested automation i reload the integration so now Alexa can reach HA. If i call Alexa to turn on a light, for example, it does.
But in the opposite direction, from HA to Alexa, i steel have problem.
Here a screen of an echo device after the reload:
![image](https://github.com/alandtse/alexa_media_player/assets/57069335/e0f3e9f5-fc70-48e3-b2e4-f53a3339a4d4)
As you can see it is unavailable. The problem is that i have scripts to run alexa's routines that in these conditions don't work.

> > here's an example https://github.com/Petro31/home-assistant-config/blob/5e61f118f8854a79b24a5af4ba1adb6ef2341eed/automation/reactions.yaml#L75
> 
> what i do not understand is the goal is to reload the integration after HA restarts, why are you reloading alexa speaker identity? ![image](https://private-user-images.githubusercontent.com/31291495/347127236-cfafc978-6b82-4ea9-b7ef-0af06a610a28.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjA2MDc0MzIsIm5iZiI6MTcyMDYwNzEzMiwicGF0aCI6Ii8zMTI5MTQ5NS8zNDcxMjcyMzYtY2ZhZmM5NzgtNmI4Mi00ZWE5LWI3ZWYtMGFmMDZhNjEwYTI4LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA3MTAlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwNzEwVDEwMjUzMlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTk3MjkzM2EwZjVjZjE2ZjMwZTFlMTMxMzA2ZWM4ZDJmYTVkOGM0YzNiYjg2MDBlZjczMGEwYzcwNDE5N2YyN2YmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.3mPLPRX-dXennXOhmGW7hI9V8Md-fvWhX1L5kQiVSOw)
> 
> i get everything above that and the bottom partis a notification. i just don't understand the reloading of an alexa device

Reloading an alexa device reloads the config entity for that device which in the case of Alexa Media Player includes all devices in the config entry.

> Reloading any entity in an integration reloads the entire integration.

Not completely true as I just outlined but like I said, most people only have one config entry.

> hm same issue here - need to reload some times after every restart :(

Yes, that is a known issue since HA 2024.6.2...

> my workaround:
> 
> `alias: xSYSTEM - Reload Alexa Media Player after HA starts description: Workaround trigger:
> 
> * platform: homeassistant
>   event: start
>   condition: []
>   action:
> * delay:
>   hours: 0
>   minutes: 1
>   seconds: 0
>   milliseconds: 0
> * alias: Reload Alexa Media Player integration
>   service: homeassistant.reload_config_entry
>   data: {}
>   enabled: true
>   target:
>   entity_id: media_player.toilet_echo
>   mode: single
>   `
> 
> #reload of one device is enough ;-)

Please format your posts correctly by surrounding your code with triple back quotes before and after the code on their own line. Or select the code segment and use the editor's <> button to encase the block with triple backquotes.

I have solved your problem! 

> hm same issue here - need to reload some times after every restart :(

Use the `automation: trigger: homeassistant start` method or the cookies.py replacement method.

@alandtse I've spent many many hours diagnosing this (much > 12 hours),  delving into the dark depths of custom_components/alexa_media and the issue is not there but in the alexapy module that gets loaded in HA,  It runs first when HA is starting and that is when the partitioned cookie is encountered which raises the error.  HA initializes AMP and almost immediately  the error is generated.  However, the custom component still continues to load executing its startup tasks, refreshing notify targets, last alexa, etc. finishing with services registered but HA shows the integration as failed and is non-functional, and then HA fires its startup completed.  Shortly thereafter, but not immediately, you can reload the integration and then it works (why, I don't know!).  The reload (on my system) has to be more than 10 seconds after HA fires the startup event.  15 seconds was hit and miss whereas 20 seconds always reloaded.  It's quite the intricate, tangled mess which I think is due in part to HA paralleling tasks attempting to reduce startup time??  I've not found another integration set up like this one is...

This is a WooHoo! moment for me...
![image](https://github.com/alandtse/alexa_media_player/assets/49846893/a1a05be0-9abc-4740-8104-50bb634c0a9e)
![image](https://github.com/alandtse/alexa_media_player/assets/49846893/5b633d98-0d03-4fd5-ad15-4450096ddc7e)

I gave up on the partitioned cookie issue and re-replaced cookies.py with the new 3.13 PR version, and returned to coding the enhanced options input.

This works. Thanks

@alantse Please close this as 2 workarounds have been provided.
This should self-resolve once Python 3.13 releases in October, and HA eventually upgrades to it.

Hacking the code inside the HA docker needed to be repeated every time you upgrade HA.
Having an automation to reload after 1 minute. Works. Is horrible.
Waiting until October where HA Maybe upgrades Python and that will maybe fix it (we cannot be sure)

Why can't this component be modified so it delays its loading so it works for everyone. All users that do not see this bug report will have no clue. And when you close it - it becomes practically invisible. Users will have an issue, come here to look for open bugs. Find none. Is this component only for geeks?

I do not personally trust that this custom component will exist much longer.

alexapy is installed into the Python 3.12 site-packages in the homeassistant docker container and executes when HA loads.
I'm not aware of any HA mechanism to delay loading an integration other than the "dependencies" in manifest.json and I tried everyone I could think of to no avail.  If you have concrete suggestions I'm all ears.

> All users that do not see this bug report

All users are supposed to check Open **_& Closed_** issues...

You seem miss my points. You need to mobilize some enphathy and try to put yourself in the minds of users that are not Python programmers.

It is an unacceptable hack having to penetrate the HA docker container, patch code and then see it all reverted each time you install a HA patch release which will happen probably 10-12 times before it includes a new Python version. No user can be satisfied with that as an acceptable work around.

The automation work around is acceptable. But you need to know it. You need to be able to find it. And very few will find it if it is hidden as a closed bug. People should not expect having to find information about workarounds about a bug that is still present showing its ugly face for most, probably all users. Why is it important to close the bug? Do you pay money to Github for every open bug? What good does it do to anyone?

I have personally installed 5 Raspberry Pi Zero 2W with Jabra speakers and use these for my house TTS announcements. I expect this integration will die within a few months. Sad. It has worked well for years.

Ok the tone is getting out of hand. Please remember there are human beings at the other end of the pipes. 

As @danielbrunt57 is volunteering to respond to issues and provide code, I've been deferring to him on the close decision frankly because I'm not following the issues closely. I was actually about to provide him contributor privileges to do it without asking me. 

That said, we can leave this open. But please keep things civil. I don't have time or the interest to come moderate disputes.

If you're concerned about the integration dying, consider helping out with code, translations, or responding to issues. Otherwise I could see @danielbrunt57 deciding to just avoid the trouble completely.

After a 6 hour deep dive inside alexapy, I think I have a solution for the "partitioned" cookie!
I reverted my http/cookies.py to the original python 3.12 version and with my edit to alexapy/alexalogin.py, I no longer get the error message and the integration loads without any assistance after a restart.

Is there anyone out there with the issue who is brave enough and proficient enough to edit their file and try it before I commit a PR for alexapy?

`/usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py`
Original Code:

![image](https://github.com/user-attachments/assets/cb626de5-1a80-4f66-9394-41fbb74d1bea)

My change:
```
                if isinstance(cookies, RequestsCookieJar):
                    _LOGGER.debug("Loading RequestsCookieJar")
                    cookies = cookies.get_dict()
                    assert cookies is not None
                    for key, value in cookies.items():
                        if self._debug:
                            _LOGGER.debug('Key: "%s", Value: "%s"', key, value)
                        # escape extra quote marks from Requests cookie
                        # also skip the new (2024/06) "partitioned" key so python 3.12 cookies.py doesn't barf!
                        if key != "partitioned":
                            return_cookies[str(key)] = value.strip('"')
                    numcookies = len(return_cookies)
```

Ill try. Wait...

I also noticed there's a PR from [Juan Pablo de Castro Fernández](https://gitlab.com/juan.pablo.de.castro) 5 days ago: [Allows missing "maintainer" metadata.](https://gitlab.com/keatontaylor/alexapy/-/merge_requests/375) which will solve another issue some users have been having.

I was already using the original cookies.py file so I just made the changes to alexalogin.py. Then restarted it 3 times and it started each time on its own. Thanks @danielbrunt57 !

Well after a day it stopped working. Don't know why. The change I made is still in the file. I guess I will go back to using my automation to do the reload.

A weird thing is that i don't have this issue on my side, despite using this cool cutom component for years now.

I'm getting this also, gonna try the downgrading solution above

Weird that my paths are different so I can't try to solve the issue.

I have it in /usr/lib/python3.12/site-packages but I don't have any alexapy folder nor alexalogin.py.

use ```Advanced SSH & Web Terminal```
with enabled ```Safe Mode```
then
```
docker exec -it $(docker ps -f name=homeassistant -q) bash
vi /usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py
```

> use `Advanced SSH & Web Terminal` with enabled `Safe Mode` then
> 
> ```
> docker exec -it $(docker ps -f name=homeassistant -q) bash
> vi /usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py
> ```

Ok, that did the trick. Besides, neither modifying the cookie/making the automation makes my integration work again.

This is my automation:
```
alias: Integration Alexa Media Player Reload
description: ""
trigger:
  - platform: homeassistant
    event: start
condition:
  - condition: state
    entity_id: media_player.buro_ug_echo
    state: unavailable
action:
  - delay:
      hours: 0
      minutes: 0
      seconds: 30
      milliseconds: 0
    enabled: false
  - service: homeassistant.reload_config_entry
    metadata: {}
    data: {}
    target:
      entity_id: media_player.buro_ug_echo
mode: single
```
change ```media_player.buro_ug_echo``` into your own ```media_player.???```

> This is my automation:
> 
> ```
> alias: Integration Alexa Media Player Reload
> description: ""
> trigger:
>   - platform: homeassistant
>     event: start
> condition:
>   - condition: state
>     entity_id: media_player.buro_ug_echo
>     state: unavailable
> action:
>   - delay:
>       hours: 0
>       minutes: 0
>       seconds: 30
>       milliseconds: 0
>     enabled: false
>   - service: homeassistant.reload_config_entry
>     metadata: {}
>     data: {}
>     target:
>       entity_id: media_player.buro_ug_echo
> mode: single
> ```
> 
> change `media_player.buro_ug_echo` into your own `media_player.???`

Well, now the issue send to be with my installation because I can't uninstall it. Tomorrow I will try again and report if everything works okay. Thanks for your help!

My partitioned cookie trouble also resurfaced recently and I could not figure out why.  So I went looking inside alexalogin.py yet again but this time I spotted where session cookies get _saved_ so I thought "hmmm..."
I changed line 1255 in `alexapy` v1.28.1 from:
```
if name in ["Name", "Value"]:
```
to:
```
if name in ["Name", "Value"] or name == "partitioned":
```
Then I removed my 7,084 byte pickle file and restarted HA and...**AMP started**!
I now have a 7,025 byte pickle file and AMP has loaded successfully on its own several times now.
YMMV but I'd like your feedback if it works for you or not...

> use `Advanced SSH & Web Terminal` with enabled `Safe Mode` then
> 
> ```
> docker exec -it $(docker ps -f name=homeassistant -q) bash
> vi /usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py
> ```

Is this the final solution to the problem? 

I was using the automation from the beginning to fix the problem but today I have noticed that it fixes the issue no more.


> Well after a day it stopped working. Don't know why. The change I made is still in the file. I guess I will go back to using my automation to do the reload.



Todays update from home assistant changes the use of service in automation so I guess that will be why it no longer works

> Todays update from home assistant changes the use of service in automation so I guess that will be why it no longer works

I don't think. They say everything will continue to work just as it did before

I updated to 2024.8 and not I can't get Alexa Media player to start at all. Anyone else having this issue? I tried removing and re-adding the integration but it fails also. 

If anyone is actively using the Python 3.13 cookies.py replacement method, I've found a way to automate that patch.
Let me know if you're interested...

> If anyone is actively using the Python 3.13 cookies.py replacement method to workaround the issue of this post, I've found a way to automate that patch. Let me know if you're interested. What it does is after an HA update & restart, the custom component detects a mismatch in the file, replaces it, and restarts HA.

I'm very interested in a good permanent solution. At the moment I'm making do (like most people) by reloading the integration with a time delay after system startup. 

The workaround also works reliably, but a solution that doesn't fill up the log with an unnecessary error message would be kind of sexy

> If anyone is actively using the Python 3.13 cookies.py replacement method to workaround the issue of this post, I've found a way to automate that patch. Let me know if you're interested. What it does is after an HA update & restart, the custom component detects a mismatch in the file, replaces it, and restarts HA.

I'm very interested too!

reloading the integration no longer fixes this problem.  GRRRRRRRRRRRRRRRRRRR....

my automation to reload still works fine although it did need a small tweak to get it working in the new HA version and you need to have the newest HACS update for the plugin as well

> I'm very interested in a good permanent solution. At the moment I'm making do (like most people) by reloading the integration with a time delay after system startup.
> 
> The workaround also works reliably, but a solution that doesn't fill up the log with an unnecessary error message would be kind of sexy

It's not really a permanent solution and you will still see the integration as not loaded with related logs but the patch kicks in, replaces cookies.py, restarts HA and AMP loads correctly.
I'll try and make time in the next 12-24 hours to detail my steps in setting it up but the key element is this [GitHub
amitfin/patch: Home Assistant Integration for patching HA's files](https://www.google.com/url?sa=t&source=web&cd=&ved=2ahUKEwiv2JHN5eiHAxWeGDQIHRnIG9EQFnoECBIQAQ&url=https%3A%2F%2Fgithub.com%2Famitfin%2Fpatch&usg=AOvVaw2rDzTdS3w8ikA-G4bHjWc3&opi=89978449)

> > I'm very interested in a good permanent solution. At the moment I'm making do (like most people) by reloading the integration with a time delay after system startup.
> > The workaround also works reliably, but a solution that doesn't fill up the log with an unnecessary error message would be kind of sexy
> 
> It's not really a permanent solution and you will still see the integration as not loaded with related logs after a new HA update restarts, but then the patch kicks in, replaces cookies.py, restarts HA and AMP loads correctly. I'll try and make time in the next 12-24 hours to detail my steps in setting it up but the key element is this [GitHub amitfin/patch: Home Assistant Integration for patching HA's files](https://www.google.com/url?sa=t&source=web&cd=&ved=2ahUKEwiv2JHN5eiHAxWeGDQIHRnIG9EQFnoECBIQAQ&url=https%3A%2F%2Fgithub.com%2Famitfin%2Fpatch&usg=AOvVaw2rDzTdS3w8ikA-G4bHjWc3&opi=89978449)

ok, that sounds good 

i'm waiting for your instructions. thanks for that! i'll probably break something on my own ;-)

Any permanenti fix?

> i'm waiting for your instructions. thanks for that! i'll probably break something on my own ;-)

Here goes...
HACS > Add custom repository > `https://github.com/amitfin/patch`
Restart HA

- Create a shared folder, the contents of which is untouched by and survives an HA update. I used my Synology NAS with a share name `patch` and added that shared folder to Setting > System > Storage > Network storage as `patches`.  That creates a folder in Home Assistant `/share/` named `patches`.  Alternatively, you can just create the `/share/patches` folder which will then reside on your HA storage device.
- Populate it with the contents of this [cookies_patch.zip](https://github.com/user-attachments/files/16571660/cookies_patch.zip)
- Add this block to `configuration.yaml` file:

```
patch:
  delay: 10
  files:
    - name: cookies.py
      base: /share/patches/python3.12/http
      destination: "/usr/local/lib/python3.12/http"
      patch: /share/patches/python3.13/http
```
- Restart HA and that should be it.

![image](https://github.com/user-attachments/assets/11c1c2d9-7828-467e-bdf8-887e352f4b56)

![image](https://github.com/user-attachments/assets/2c652f55-307c-4985-8055-89353786d5b2)

![image](https://github.com/user-attachments/assets/66612340-c6ee-4719-92d6-b1b06054e166)




Works like a champ.

 I'm getting **REALLY** tired of the constant and ongoing problems with this integration.  Alexa has to be in at least half of the HA instillations (the other half Googles Assistant).  Why isn't such an important integration handled by the core team?

> > i'm waiting for your instructions. thanks for that! i'll probably break something on my own ;-)
> 
> Here goes...
> 
>     * HACS > Add custom repository > `https://github.com/amitfin/patch`
> 

Thanks for the workaround. It works for me too. You should also mention downloading the HACS package. I was wondering if something was missing. 

For me to understand: Is it somehow foreseeable when the error will finally be fixed? I don't quite understand the error and, above all, why a patch is now needed to enable stable functionality. I've never come across this since I startd using HA. 


Many thanks for your work!!!

> reloading the integration no longer fixes this problem. GRRRRRRRRRRRRRRRRRRR.... Core 2024.8.0 Supervisor 2024.08.0

It WAS the same for me. I fixed it, and now use again the automation.
Go to hacs, search the Alexa integration, click the 3 dots up right and click on download again. I choose the last version. Once restarted HA the automation was ok again 

> Thanks for the workaround. It works for me too. You should also mention downloading the HACS package. I was wondering if something was missing.

You're right, I overlooked that minor but important detail.

> For me to understand: Is it somehow foreseeable when the error will finally be fixed? I don't quite understand the error and, above all, why a patch is now needed to enable stable functionality. I've never come across this since I startd using HA.
> 
> Many thanks for your work!!!

Partitioned cookies are rather new in the browser/website realm (google CHIPS). The cookies.py I found is from a pull request for Python 3.13 beta to support partitioned cookies. There was lots of back and forth on the subject in the python community since Dec/Jan but it's looking like the  PR will likely be merged. We won't see it in HA until 3.13 final comes out and even then HA core will have to do their tests with it before switching HA to Python 3.13. They might already be doing that with the 3.13 beta but I'm only guessing...

> @danielbrunt57 - Works like a champ. VERY MUCH appreciated. Once again, I went to battle with this integration for several hours today and this "fix" worked right outta the gate.
> 
> I'm getting **REALLY** tired of the constant and ongoing problems with this integration. Alexa has to be in at least half of the HA instillations (the other half Googles Assistant). Why isn't such an important integration handled by the core team?
> 
> PS: you might mention that after adding the custom repository, you need to download the patch integration.

It all started with the partitioned cookie issue which led me delve deeply insure AMP and alexapy and has been a steep ongoing learning curve for me. Then I tacked a feature request to be able to reconfigure all options where I had a lot more learning to do and I made mistakes, etc. Then HA 2024.8.0b0 arrived and apparently revamped aiohttp which introduced more problems which are still trying to be figured out. Someone else is working on a new AMP integration but it's still months away and might not have much more if anything than just Media Payer functionality. So it's all been a complicated mix of things all occuring more or less at the same time.   In the beginning, AMP lacked a lot of what it's grown into over the years and when that sort of morphing occurs, code can become complex and confusing. Plus Amazon constantly evolving and changing tends to make matters even worse...

> Partitioned cookies are rather new in the browser/website realm (google CHIPS). The cookies.py I found is from a pull request for Python 3.13 beta to support partitioned cookies. There was lots of back and forth on the subject in the python community since Dec/Jan but it's looking like the PR will likely be merged. We won't see it in HA until 3.13 final comes out and even then HA core will have to do their tests with it before switching HA to Python 3.13. They might already be doing that with the 3.13 beta but I'm only guessing...



Thank you for your explanation. It helped me a lot to understand the problem better. At the same time, however, I am amazed at how little can be found on this topic in the forum. 

For me, the reload script was good so far. But your solution seems to be much more elegant. At least I no longer have an annoying error entry in the log. Many thanks for that. 



> Thanks for the workaround. It works for me too. You should also mention downloading the HACS package. I was wondering if something was missing.

I've edited my post above, thanks!

I'm just about to update to HA Core 2024.8.1 which I see has updated `aiohttp`.  Will be interesting to see what happens now.

> Bump aiohttp to 3.10.2 ([@bdraco](https://github.com/bdraco) - [#123394](https://github.com/home-assistant/core/pull/123394))

> I'm just about to update to HA Core 2024.8.1 which I see has updated `aiohttp`. Will be interesting to see what happens now...

The patch integration re-replaced cookies.py but failed to initiate a 2nd restart of HA so AMP remained in the `failed to load` state due to a partitioned cookie via v3.12 cookies.py.  I manually restarted and then AMP loaded.
Perhaps a 10 second delay is insufficient?

I think I'm going to avoid updating anything for a while.  Home automation is great until it stops automating. And then your entire family suffers.

again, thanks for your heroic efforts.  there hasn't even been a peep from the actual authors of AMP...

> again, thanks for your heroic efforts. there hasn't even been a peep from the actual authors of AMP...

Not sure if you missed the memo, but this is no longer managed by anyone.  Alan is just pushing changes offered by the community.  So comments like this are a moot point.

> Not sure if you missed the memo, but this is no longer managed by anyone. Alan is just pushing changes offered by the community. So comments like this are a moot point.

This is news to me, so not really a moot point if it helps people understand. 

Are there any alternatives people are moving to?

cookies.py is an easy fix in docker, copy the updated cookies.py locally and mount the updated file readonly into the container: 

```
services:

  homeassistant:
    image: homeassistant/home-assistant:latest
    container_name: homeassistant
    restart: always

    volumes:
      - ./homeassistant:/config
      - homeassistant_pgsocket:/var/run/postgresql    
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

      #alexa integration fix 
      #https://github.com/alandtse/alexa_media_player/issues/2288
      - ./alexa_fix/cookies.py:/usr/local/lib/python3.12/http/cookies.py:ro
 ``` 

I use HA OS. There is noch docker-compose.yml.
:-(


Just edit manifest.json (custom_components/alexa_media folder) and replace in requirements field

`"requirements": ["alexapy==1.28.2", "pa....`
by
`"requirements": ["alexapy>=1.28.2", "pa....`

Then restart HA

I've managed to submit a clean MR to `alexapy` to finally fix/address this issue.

The code change is in the first 60 lines (up to `class AlexaLogin`):
`/usr/local/lib/python3.12/site-packages/alexapy/alexalogin.py`
```
"""Python Package for controlling Alexa devices (echo dot, etc) programmatically.

SPDX-License-Identifier: Apache-2.0

Login class.

This file could not have been written without referencing MIT code from https://github.com/Apollon77/alexa-remote.

For more details about this api, please refer to the documentation at
https://gitlab.com/keatontaylor/alexapy
"""

import asyncio
import base64
from binascii import Error
import datetime
import hashlib
from http.cookies import Morsel, SimpleCookie
from json import JSONDecodeError, dumps
import logging
import os
import pickle
import re
import secrets
from typing import Any, Callable, Optional, Union
from urllib.parse import urlencode, urlparse
from uuid import uuid4

import aiofiles
from aiofiles import os as aioos
import aiohttp
from aiohttp.client_exceptions import ContentTypeError
from bs4 import BeautifulSoup
import pyotp
from simplejson import JSONDecodeError as SimpleJSONDecodeError
from yarl import URL

from .const import APP_NAME, CALL_VERSION, EXCEPTION_TEMPLATE, LOCALE_KEY, USER_AGENT
from .errors import AlexapyPyotpInvalidKey
from .helpers import (
    _catch_all_exceptions,
    delete_cookie,
    hide_email,
    hide_serial,
    obfuscate,
)

_LOGGER = logging.getLogger(__name__)

"""Ensure cookies.Morsel contains "partitioned"
   See: https://github.com/python/cpython/issues/112713
"""
partitioned = { "partitioned" : "Partitioned" }
Morsel._reserved.update(partitioned)
Morsel._flags.add("partitioned")
_LOGGER.debug("http.cookies patch: Morsel._reserved: %s; Morsel._flags: %s", partitioned, Morsel._flags)


class AlexaLogin:
```

Basically, change: `from http.cookies import SimpleCookie` to `from http.cookies import Morsel, SimpleCookie` 
and add this new code:
```
"""Ensure cookies.Morsel contains "partitioned"
   See: https://github.com/python/cpython/issues/112713
"""
partitioned = { "partitioned" : "Partitioned" }
Morsel._reserved.update(partitioned)
Morsel._flags.add("partitioned")
_LOGGER.debug("http.cookies patch: Morsel._reserved: %s; Morsel._flags: %s", partitioned, Morsel._flags)
```

alexapy version 1.29.2 is released and has resolved the partitioned cookie error!
Edit your manifest.json to:
```
{
  "domain": "alexa_media",
  "name": "Alexa Media Player",
  "codeowners": ["@alandtse", "@keatontaylor"],
  "config_flow": true,
  "dependencies": ["persistent_notification", "http"],
  "documentation": "https://github.com/alandtse/alexa_media_player/wiki",
  "iot_class": "cloud_polling",
  "issue_tracker": "https://github.com/alandtse/alexa_media_player/issues",
  "loggers": ["alexapy", "authcaptureproxy"],
  "requirements": ["alexapy==1.29.2", "packaging>=20.3", "wrapt>=1.14.0"],
  "version": "4.12.12"
}
```

@danielbrunt57 I'm not familiar with any manifest file. Where is that located and why does it need to be modified? I thought HACS handled updates for us.

> alexapy version 1.29.2 is released and has resolved the partitioned cookie error! Edit your manifest.json to:
> 
> ```
> {
>   "domain": "alexa_media",
>   "name": "Alexa Media Player",
>   "codeowners": ["@alandtse", "@keatontaylor"],
>   "config_flow": true,
>   "dependencies": ["persistent_notification", "http"],
>   "documentation": "https://github.com/alandtse/alexa_media_player/wiki",
>   "iot_class": "cloud_polling",
>   "issue_tracker": "https://github.com/alandtse/alexa_media_player/issues",
>   "loggers": ["alexapy", "authcaptureproxy"],
>   "requirements": ["alexapy==1.29.2", "packaging>=20.3", "wrapt>=1.14.0"],
>   "version": "4.12.12"
> }
> ```

Everything working perfectly from one hour ago.
Thank you very much!!!

> @danielbrunt57 I'm not familiar with any manifest file. Where is that located and why does it need to be modified? I thought HACS handled updates for us.

custom_components/alexa_media folder

> > @danielbrunt57 I'm not familiar with any manifest file. Where is that located and why does it need to be modified? I thought HACS handled updates for us.
> 
> custom_components/alexa_media folder

Thanks; I was able to make that change. After this is done, should we expect to see an update in HACS (because I don't). Sorry for the basic questions, I haven't had to customize HACS integrations like this yet. 

I appreciate the guidance.

I just swapped the manifest file and am still getting errors, I think I'm missing https://github.com/alandtse/alexa_media_player/issues/2288#issuecomment-2342517262 but I don't understand it.

Any chance these fixes can be rolled into a hacs update?

@Krispkiwi What version is your `alexapy`?

> @Krispkiwi What version is your `alexapy`?

Just rebuilding my HA now so it'll likely be a few hours before i can answer this but just to make sure I get you the correct information, where do I find this information once I have it back up? just the debug logs?

Either:
1. in Home Assistant Core log entry: 
```
2024-09-13 14:20:20.356 DEBUG (MainThread) [custom_components.alexa_media]
-------------------------------------------------------------------
alexa_media
Version: 4.12.12
This is a custom component
If you have any issues with this you need to open an issue here:
https://github.com/alandtse/alexa_media_player/issues
-------------------------------------------------------------------
2024-09-13 14:20:20.356 DEBUG (MainThread) [custom_components.alexa_media] Loaded alexapy==1.29.2
``` 
2. `pip show alexapy` in the homeassistant container:
```
homeassistant:/config# pip show alexapy
Name: AlexaPy
Version: 1.29.2
Summary: Python API to control Amazon Echo Devices Programmatically.
Home-page: https://gitlab.com/keatontaylor/alexapy
Author: Keaton Taylor
Author-email: keatonstaylor@gmail.com
License: Apache-2.0
Location: /usr/local/lib/python3.12/site-packages
Requires: aiofiles, aiohttp, authcaptureproxy, backoff, beautifulsoup4, certifi, cryptography, httpx, pyotp, requests, simplejson, yarl
Required-by:
```

@danielbrunt57 are you planning to bump alexapy too with your other PRs? That should close this issue. I'm holding off on the next release since I thought that was forecoming.

So am I interpreting this correctly, if an RP is submitted now, we get the fix via the official release and no longer have to use workarounds here? 

If this is the case, I would like to save myself the manual work. 
What happens if I install it like this? Is it then consistent? Or will it be overwritten with the next (fixed) update? 

Sorry if I'm perhaps asking stupid questions, but I haven't yet delved that deeply into the architecture of HA, as I'm actually only a user and not a developer ;) 

> alexapy version 1.29.2 is released and has resolved the partitioned cookie error! Edit your manifest.json to:
> 
> ```
> {
>   "domain": "alexa_media",
>   "name": "Alexa Media Player",
>   "codeowners": ["@alandtse", "@keatontaylor"],
>   "config_flow": true,
>   "dependencies": ["persistent_notification", "http"],
>   "documentation": "https://github.com/alandtse/alexa_media_player/wiki",
>   "iot_class": "cloud_polling",
>   "issue_tracker": "https://github.com/alandtse/alexa_media_player/issues",
>   "loggers": ["alexapy", "authcaptureproxy"],
>   "requirements": ["alexapy==1.29.2", "packaging>=20.3", "wrapt>=1.14.0"],
>   "version": "4.12.12"
> }
> ```

thx a lot!!!!
That finally fixed an 3 months ongoing issue for me and i can remove all workarounds.

I am running HA OS and it shows me in the log version 1.28.2? How can I update to 1.29.2?

> I am running HA OS and it shows me in the log version 1.28.2? How can I update to 1.29.2?

The fix will be included in the next release.
Until this happens,you have to edit manifest file of the custom component.

Hello everyone, I decided to update HA from 2024.7.4 (where AMP was still working) to HA 2024.9.1. I removed AMP and its integration. After reinstalling the custom integration of AMP from HACS I can no longer install AMP. During the procedure it takes me back to the login site but nothing happens, just a continuous loop of email and password requests without being able to connect. I ask you to help me because I don't know what to do anymore.

I also tried to follow some suggestions from @danielbrunt57 but to no avail. I modified the manifest file but nothing. I don't know what to do anymore and I find it very difficult to follow this topic because I'm not very practical with programming.
<img width="686" alt="Screenshot 2024-09-16 alle 13 17 12" src="https://github.com/user-attachments/assets/6e035648-37f3-47f3-90d8-4c0eecbf8ccc">
<img width="686" alt="Screenshot 2024-09-16 alle 13 17 38" src="https://github.com/user-attachments/assets/b28ddd07-7181-49e2-a151-390ce8505394">
<img width="1031" alt="Screenshot 2024-09-16 alle 13 19 16" src="https://github.com/user-attachments/assets/d8d116f7-7b8f-4db6-ab44-3ff3a6bdaea5">


Good evening, I installed a clean version of Home Assistant on another PC (intel nuc) and started the installation procedure of Alexa media player but I encountered the same problem that is the procedure brings me back to the login site but nothing happens, just a continuous cycle of email and password requests without being able to connect. Do you have any solution?

> Good evening, I installed a clean version of Home Assistant on another PC (intel nuc) and started the installation procedure of Alexa media player but I encountered the same problem that is the procedure brings me back to the login site but nothing happens, just a continuous cycle of email and password requests without being able to connect. Do you have any solution?

https://github.com/alandtse/alexa_media_player/issues/2514

@JackTalisker Thank you so much...I managed to solve it. 

@danielbrunt57 thanks to you too who always manage to find the problem.

@danielbrunt57 

I had a request for AMP re-authentication. I performed your procedure a couple of times but when I check the alexapy version with the pip show alexapy command. I also edited the manifest file. Am I doing something wrong?


<img width="1137" alt="Screenshot 2024-09-16 alle 21 21 53" src="https://github.com/user-attachments/assets/34b76819-cbba-421a-8cce-0abc74017baf">




@danielbrunt57 

I performed your procedure for replacing alexapy 3.12 with version 3.13 and I also modified the manifest file as explained here but an AMP re-authentication request was presented again. Am I doing something wrong?


<img width="1137" alt="Screenshot 2024-09-16 alle 21 21 53" src="https://github.com/user-attachments/assets/a9247b48-00f6-450b-9be9-0e091454806f">


> @danielbrunt57
> 
> I performed your procedure for replacing phyton 3.12 with version 3.13 and I also modified the manifest file as explained here but an AMP re-authentication request was presented again. Am I doing something wrong?

AMP 4.13.1 now requires `alexapy==1.29.2` which fixes the error `http.cookies.CookieError: Invalid attribute 'partitioned'`
The `cookies.py` patch is no longer required.